@charset "UTF-8";
/*
@include adaptiveValue("свойство", начальное значение, конечное значение);
Где:

свойство — CSS-свойство, значение которого нужно адаптировать. Можно указать любое свойство значение которого указывается в цифрах.
начальное значение — стартовое значение свойства в пикселях, пишем число без px. Обычно указывается по макету.
конечное значение — финальное значение свойства в пикселях, пишем число без px. Значение, к которому мы хотим прийти на меньших ширинах экрана.
Примеры:

@include adaptiveValue("font-size", 50, 20);
@include adaptiveValue("padding-top", 80, 10);
...
Алгоритм работы миксина
Миксин работает на основе значений переменных $minWidth, $maxWidth, $maxWidthContainer, $containerPadding и $containerWidth расположеных в блоке «Настройка адаптивной сетки» файла scss/style.scss

В итоге, по умолчанию, миксин будет работать следующим образом:

Если $maxWidthContainer больше нуля, то значения свойства будут меняться в промежутке ширин от $containerWidth до $minWidth. То есть, по всей ширине ограничивающего контейнера.

При этом, если ширина экрана больше чем $containerWidth, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем $minWidth, то значение свойства будет равно конечному значению.

Если $maxWidthContainer равен нулю, то значения свойства будут меняться в промежутке ширин от $maxWidth до $minWidth. То есть, по всей ширине экрана (вьюпорта).

Дополнительные настройки и режимы работы
Миксин позволяет указать свой промежуток ширины внутри которого будет адаптироваться значение свойства.

@include adaptiveValue("свойство", начальное значение, конечное значение, ширина от, ширина до); 
ширина от — стартовая ширина меньше которой начнется адаптация, пишем число без px.
ширина до — конечная ширина до которой будет адаптироваться значение свойства, пишем число без px.
Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480);



режим работы — может принимать числовые значения 1, 2 или 3:

1 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.
2 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет по умолчанию либо наследоваться от предков.
3 — Если ширина экрана больше чем ширина от, то значение свойства будет по умолчанию либо наследоваться от предков. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.


Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480, 1);
Также мы можем использовать несколько вызовов миксина с разными промежутками:

@include adaptiveValue("font-size", 50, 20, 800, 480, 2);
@include adaptiveValue("font-size", 20, 10, 480, 320);
В примере произойдет следующее: значение font-size будет 50px, в промежутке ширин экрана от 800px до 480px, он будет отзывчиво адаптироваться от 50px до 20px. А в промежутке от 480px до 320px отзывчиво адаптироваться от 20px до 10px.
*/
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("/fonts/icons.woff2") format("woff2"), url("/fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerBlack.woff2") format("woff2"), url("/fonts/MullerBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerBold.woff2") format("woff2"), url("/fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerMedium.woff2") format("woff2"), url("/fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerRegular.woff2") format("woff2"), url("/fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("/fonts/RussoOne-Regular.woff2") format("woff2"), url("/fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerLight.woff2") format("woff2"), url("/fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Muller";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Muller";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header__wraper {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}
.header__left {
  width: 100%;
  background: linear-gradient(to right, #288FB1, 65%, #000);
  min-width: 50px;
}
.header__right {
  width: 100%;
  background: linear-gradient(to left, #288FB1, 65%, #000);
  /*	@media (max-width: em(1250)) {
  		position: absolute;
  		right: 0;
  		width: 50px;
  		height: 100%;
  	}*/
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@supports (min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem )) {
  .header__container {
    min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem );
  }
}
@supports not (min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem )) {
  .header__container {
    min-width: calc(
         20rem + 53.125 * (100vw - 20rem) / 55
      );
  }
}
.header__logo {
  position: relative;
  max-width: 500px;
}
.header__actions {
  position: relative;
  display: flex;
  align-items: center;
  color: #288FB1;
}
@media (max-width: 78.125em) {
  .header__actions {
    left: -65px;
  }
}
@supports (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__language {
    margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__language {
    margin-right: calc(
         0.625rem + 1.875 * (100vw - 48rem) / 25.125
      );
  }
}
.header__contacts {
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
@supports (font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem )) {
  .header__contacts {
    font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem )) {
  .header__contacts {
    font-size: calc(
         1.125rem + 0.375 * (100vw - 48rem) / 25.125
      );
  }
}
@supports (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__contacts:not(:last-child) {
    margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__contacts:not(:last-child) {
    margin-right: calc(
         0.625rem + 1.875 * (100vw - 48rem) / 25.125
      );
  }
}

.logo__video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.logo__title {
  font-family: "Russo One";
  letter-spacing: 7px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  mix-blend-mode: multiply;
  /*background-color:  #fff;
  color: #000;
  mix-blend-mode: lighten;*/
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@supports (font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .logo__title {
    font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .logo__title {
    font-size: calc(
         1.875rem + 4.375 * (100vw - 20rem) / 55
      );
  }
}

.actions-header__language {
  position: relative;
  font-size: 1.125rem;
}
.actions-header__language::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 9px;
}
@media (pointer: fine) {
  .actions-header__language:hover .language__select {
    opacity: 1;
    visibility: visible;
  }
  .actions-header__language:hover .language__select:not(:first-child) {
    bottom: -30px;
  }
  .actions-header__language:hover .language__select:last-child {
    bottom: -60px;
  }
}
@media (any-pointer: coarse) {
  .actions-header__language.active .language__select {
    opacity: 1;
    visibility: visible;
  }
  .actions-header__language.active .language__select:not(:first-child) {
    bottom: -30px;
  }
  .actions-header__language.active .language__select:last-child {
    bottom: -60px;
  }
}

.language__select {
  transition: all 0.3s ease 0s;
}
.language__select:not(:first-child) {
  position: absolute;
  bottom: -40px;
  opacity: 0;
  visibility: hidden;
}
.language__select:last-child {
  bottom: -70px;
}
.language__select:last-child::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 9px;
}
.language__select:last-child .language__link .language__icon.ru {
  left: 2px;
}
.language__link {
  display: flex;
  align-items: center;
}
.language__text {
  margin-right: 10px;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
}
.language__icon {
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.language__icon.ua {
  background-image: url("/img/flags/ua/2.jpg");
}
.language__icon.en {
  background-image: url("/img/flags/en/1.jpg");
}
.language__icon.ru {
  position: relative;
  background-image: url("/img/flags/ru/russia.svg");
  background-size: cover;
  top: -5px;
  left: 3px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.test-text {
  font-family: "Russo One";
  font-size: 30px;
}

.svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(255, 101, 80) !important;
}

.messengers {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
}

.svg-messengers__btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #288FB1;
  background: linear-gradient(#288FB1, #000);
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.svg-messengers__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.svg-messengers__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.svg-messengers__close svg {
  transition: all 0.5s linear 0s;
}
.svg-messengers__close.active {
  opacity: 1;
  visibility: visible;
}
.svg-messengers__close.active svg {
  transform: rotate(360deg);
}
.svg-messengers__open {
  transition: all 0.2s ease 0s;
}
.svg-messengers__open svg {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.svg-messengers__open.hide {
  opacity: 0;
  visibility: hidden;
}
.svg-messengers__open.hide svg {
  transform: rotate(180deg);
}
.svg-messengers__icons {
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}
.svg-messengers__icons.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 0;
}
.svg-messengers__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 15px;
}
.svg-messengers__icon.whatsapp-icon {
  background-color: #4DC247;
}
.svg-messengers__icon.telegram-icon {
  background-color: #0088CC;
}
.svg-messengers__icon.viber-icon {
  background-color: #7B519D;
}
.svg-messengers__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.svg-messengers__icon:hover .svg-messengers__label {
  right: calc(100% + 20px);
  opacity: 1;
  visibility: visible;
}
.svg-messengers__whatsapp {
  width: 40px;
  height: 40px;
}
.svg-messengers__telegram {
  width: 40px;
  height: 40px;
}
.svg-messengers__label {
  display: none;
}
@media (pointer: fine) {
  .svg-messengers__label {
    display: block;
    transition: all 0.1s ease 0s;
    position: absolute;
    font-family: "Muller";
    font-size: 13px;
    border: 1px solid rgb(226, 226, 226);
    padding: 4px 9px 6px;
    border-radius: 4px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
    line-height: 15px;
    pointer-events: none;
    right: calc(50% + 20px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
}
.svg-messengers__controls {
  position: relative;
}
.svg-messengers__label-btn {
  position: absolute;
  font-family: "Muller";
  font-size: 14px;
  right: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 13px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  background: white;
  transition: all 0.4s ease 0s;
}
.svg-messengers__label-btn.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.svg-messengers__label-btn p {
  padding: 7px 10px;
  line-height: 14px;
  margin: auto;
}
.svg-messengers__label-btn p::before {
  content: "";
  position: absolute;
  background: white;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}
.svg-messengers__label-btn p::after {
  content: "";
  position: absolute;
  background: white;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}
@media (max-width: 61.99875em) {
  .svg-messengers__label-btn {
    display: none;
  }
}
