@charset "UTF-8";
/*
@include adaptiveValue("свойство", начальное значение, конечное значение);
Где:

свойство — CSS-свойство, значение которого нужно адаптировать. Можно указать любое свойство значение которого указывается в цифрах.
начальное значение — стартовое значение свойства в пикселях, пишем число без px. Обычно указывается по макету.
конечное значение — финальное значение свойства в пикселях, пишем число без px. Значение, к которому мы хотим прийти на меньших ширинах экрана.
Примеры:

@include adaptiveValue("font-size", 50, 20);
@include adaptiveValue("padding-top", 80, 10);
...
Алгоритм работы миксина
Миксин работает на основе значений переменных $minWidth, $maxWidth, $maxWidthContainer, $containerPadding и $containerWidth расположеных в блоке «Настройка адаптивной сетки» файла scss/style.scss

В итоге, по умолчанию, миксин будет работать следующим образом:

Если $maxWidthContainer больше нуля, то значения свойства будут меняться в промежутке ширин от $containerWidth до $minWidth. То есть, по всей ширине ограничивающего контейнера.

При этом, если ширина экрана больше чем $containerWidth, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем $minWidth, то значение свойства будет равно конечному значению.

Если $maxWidthContainer равен нулю, то значения свойства будут меняться в промежутке ширин от $maxWidth до $minWidth. То есть, по всей ширине экрана (вьюпорта).

Дополнительные настройки и режимы работы
Миксин позволяет указать свой промежуток ширины внутри которого будет адаптироваться значение свойства.

@include adaptiveValue("свойство", начальное значение, конечное значение, ширина от, ширина до); 
ширина от — стартовая ширина меньше которой начнется адаптация, пишем число без px.
ширина до — конечная ширина до которой будет адаптироваться значение свойства, пишем число без px.
Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480);



режим работы — может принимать числовые значения 1, 2 или 3:

1 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.
2 — Если ширина экрана больше чем ширина от, то значение свойства будет равно начальному значению. Если ширина экрана меньше чем ширина до, то значение свойства будет по умолчанию либо наследоваться от предков.
3 — Если ширина экрана больше чем ширина от, то значение свойства будет по умолчанию либо наследоваться от предков. Если ширина экрана меньше чем ширина до, то значение свойства будет равно конечному значению.


Пример:

@include adaptiveValue("font-size", 50, 20, 800, 480, 1);
Также мы можем использовать несколько вызовов миксина с разными промежутками:

@include adaptiveValue("font-size", 50, 20, 800, 480, 2);
@include adaptiveValue("font-size", 20, 10, 480, 320);
В примере произойдет следующее: значение font-size будет 50px, в промежутке ширин экрана от 800px до 480px, он будет отзывчиво адаптироваться от 50px до 20px. А в промежутке от 480px до 320px отзывчиво адаптироваться от 20px до 10px.
*/
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("/fonts/icons.woff2") format("woff2"), url("/fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerBlack.woff2") format("woff2"), url("/fonts/MullerBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerBold.woff2") format("woff2"), url("/fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerMedium.woff2") format("woff2"), url("/fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerRegular.woff2") format("woff2"), url("/fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("/fonts/RussoOne-Regular.woff2") format("woff2"), url("/fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("/fonts/MullerLight.woff2") format("woff2"), url("/fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #288FB1;
  line-height: 1;
  font-family: "Muller";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Muller";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  z-index: 200;
}
.header__wraper {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 47.99875em) {
  .header__wraper {
    height: 70px;
  }
}
.header__left {
  width: 100%;
  background: linear-gradient(to right, #288FB1, 65%, #000);
  min-width: 50px;
}
@media (max-width: 23.43625em) {
  .header__left {
    min-width: unset;
  }
}
.header__right {
  width: 100%;
  background: linear-gradient(to left, #288FB1, 65%, #000);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@supports (min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem )) {
  .header__container {
    min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem );
  }
}
@supports not (min-width: clamp( 20rem , 0.6818181818rem  +  96.5909090909vw , 73.125rem )) {
  .header__container {
    min-width: calc(
         20rem + 53.125 * (100vw - 20rem) / 55
      );
  }
}
.header__logo {
  position: relative;
  max-width: 500px;
  z-index: 5;
}
.header__actions {
  position: relative;
  display: flex;
  align-items: center;
  color: #288FB1;
}
@media (max-width: 78.125em) {
  .header__actions {
    left: -65px;
  }
}
@media (max-width: 29.99875em) {
  .header__actions {
    left: -35px;
  }
}
@media (max-width: 23.43625em) {
  .header__actions {
    left: 0px;
  }
}
.header__language {
  z-index: 5;
}
@supports (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__language {
    margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__language {
    margin-right: calc(
         0.625rem + 1.875 * (100vw - 48rem) / 25.125
      );
  }
}
.header__contacts {
  position: relative;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.5s ease 0s;
}
@supports (font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem )) {
  .header__contacts {
    font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.4085820896rem  +  1.4925373134vw , 1.5rem )) {
  .header__contacts {
    font-size: calc(
         1.125rem + 0.375 * (100vw - 48rem) / 25.125
      );
  }
}
@supports (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__contacts:not(:last-child) {
    margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) {
  .header__contacts:not(:last-child) {
    margin-right: calc(
         0.625rem + 1.875 * (100vw - 48rem) / 25.125
      );
  }
}
@media (max-width: 50em) {
  .header__contacts {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (pointer: fine) {
  .header__contacts:hover {
    background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
    border-radius: 6px;
    box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.8;
  }
}
@media (pointer: fine) and (max-width: 50em) {
  .header__contacts:hover {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (any-pointer: coarse) {
  .header__contacts {
    background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
    border-radius: 6px;
    box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.8;
  }
}
@media (any-pointer: coarse) and (max-width: 50em) {
  .header__contacts {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.header__contacts:active {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}
@media (max-width: 47.99875em) {
  .header__contacts {
    display: none;
  }
}
@media (pointer: fine) {
  .header .contacts-header__row:hover .contacts-header__contacts {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    top: 100%;
    line-height: 1;
  }
}
.header .contacts-header__row.active .contacts-header__contacts {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 100%;
}
.header .contacts-header__contacts {
  position: absolute;
  left: 0px;
  top: 200%;
  background: linear-gradient(to right, #288FB1, 15%, #000);
  transform: translate(calc(-50% + 55px), 0%);
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 62em) and (max-width: 75em) {
  .header .contacts-header__contacts {
    transform: translate(calc(-50% + 100px), 0%);
  }
}
@media (max-width: 56.25em) {
  .header .contacts-header__contacts {
    transform: translate(calc(-50% + 90px), 0%);
  }
}
.header .contacts-header__body {
  padding: 50px 50px 30px 50px;
}
@media (min-width: 62em) and (max-width: 75em) {
  .header .contacts-header__body {
    padding: 30px 20px;
  }
}
.header .contacts-header__link {
  font-size: 1.25rem;
  color: aliceblue;
  margin-bottom: 30px;
}
@media (max-width: 61.99875em) {
  .header .contacts-header__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header .contacts-header__phone-item:not(:last-child) {
  margin-right: 40px;
}
.header .contacts-header__phone-item:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
@media (max-width: 61.99875em) {
  .header .contacts-header__phone-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.header .contacts-header__address {
  font-size: 1.25rem;
  color: aliceblue;
  text-align: center;
}
.header .contacts-header__address:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
.header .contacts-header__messengers {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.header .contacts-header__social {
  text-align: center;
  margin-bottom: 30px;
}
.header .contacts-header__social a {
  display: inline-block;
  background-color: aliceblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.header .contacts-header__social a:hover {
  box-shadow: rgba(240, 248, 255, 0.7) 2px 2px 11px;
}
.header .contacts-header__social a svg {
  position: absolute;
  width: 65px;
  height: 65px;
  top: -7px;
  left: -7px;
}
.header .messengers-header__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.header .messengers-header__item:not(:last-child) {
  margin-right: 40px;
}
.header .messengers-header__item svg {
  width: 40px;
  height: 40px;
}
.header .messengers-header__item:hover {
  box-shadow: rgba(240, 248, 255, 0.7) 2px 2px 11px;
}
.header .svg-messengers__viber {
  position: relative;
}
.header .svg-messengers__viber svg {
  display: block;
  top: 5px;
}
.header .messengers-header-telegram {
  background-color: #0088CC;
}
.header .messengers-header-wathsapp {
  background-color: #4DC247;
}
.header .messengers-header-viber {
  background-color: #7B519D;
}

.logo__video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.logo__title {
  font-family: "Russo One";
  letter-spacing: 7px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  mix-blend-mode: multiply;
  /*background-color:  #fff;
  color: #000;
  mix-blend-mode: lighten;*/
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@supports (font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .logo__title {
    font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .logo__title {
    font-size: calc(
         1.875rem + 4.375 * (100vw - 20rem) / 55
      );
  }
}
.logo__title:hover {
  animation: neon 2s alternate-reverse infinite;
}

.actions-header__language {
  position: relative;
  font-size: 1.125rem;
}
.actions-header__language::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 9px;
}
@media (pointer: fine) {
  .actions-header__language:hover .language__select {
    opacity: 1;
    visibility: visible;
  }
  .actions-header__language:hover .language__select:not(:first-child) {
    bottom: -30px;
  }
  .actions-header__language:hover .language__select:last-child {
    bottom: -60px;
  }
}
@media (any-pointer: coarse) {
  .actions-header__language.active .language__select {
    opacity: 1;
    visibility: visible;
  }
  .actions-header__language.active .language__select:not(:first-child) {
    bottom: -30px;
  }
  .actions-header__language.active .language__select:last-child {
    bottom: -60px;
  }
}

.language__select {
  transition: all 0.3s ease 0s;
}
.language__select:not(:first-child) {
  position: absolute;
  bottom: -40px;
  opacity: 0;
  visibility: hidden;
}
.language__select:last-child {
  bottom: -70px;
}
.language__select:last-child::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 9px;
}
.language__select:last-child .language__link .language__icon.ru {
  left: 2px;
}
.language__link {
  display: flex;
  align-items: center;
}
.language__link:hover .language__text {
  color: #f0f8ff;
  background: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
}
.language__link:active .language__text {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}
.language__text {
  margin-right: 10px;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.2;
}
.language__icon {
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.language__icon.ua {
  background-image: url("/img/flags/ua/2.jpg");
}
.language__icon.en {
  background-image: url("/img/flags/en/1.jpg");
}
.language__icon.ru {
  position: relative;
  background-size: cover;
  top: -5px;
  left: 3px;
  display: none;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7), 0 0 60px rgba(0, 123, 255, 0.7);
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7), 0 0 60px rgba(0, 123, 255, 0.7);
  }
}
.icon-menu {
  display: none;
  left: -65px;
}
@media (min-width: 29.99875em) {
  .icon-menu {
    left: -100px;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
}
@media (max-width: 47.99875em) and (max-width: 23.43625em) {
  .icon-menu {
    left: -20px;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #288FB1;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu::before {
    top: 0px;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu::after {
    bottom: 0px;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
@media (max-width: 47.99875em) {
  .icon-menu.open span {
    transform: scale(0);
  }
  .icon-menu.open::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.open::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.burger {
  right: -100%;
  top: 70px;
  position: fixed;
  height: 100vh;
  background: linear-gradient(120deg, #000, 65%, #288FB1, #000);
  transition: all 0.3s ease 0s;
}
.burger.open {
  right: 0;
}
.burger__body {
  padding: 50px;
}
@media (max-width: 29.99875em) {
  .burger__body {
    padding: 50px 30px;
  }
}
.burger__menu {
  font-weight: 600;
}
@supports (font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .burger__menu {
    font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .burger__menu {
    font-size: calc(
         1.875rem + 0.625 * (100vw - 20rem) / 28
      );
  }
}
.burger__contacts {
  margin-bottom: 50px;
}

.menu-burger__item {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288FB1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288FB1 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 1.375rem;
}

.menu-burger__item:active {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}

.contacts-burger__tittle {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.contacts-burger__contacts p:last-child {
  font-weight: 600;
  margin-top: 6px;
}
.contacts-burger__address {
  margin: 0 0 15px 0;
}
.contacts-burger__address p:last-child {
  font-weight: 600;
  margin-top: 6px;
  color: aliceblue;
}
.contacts-burger__phone {
  margin: 0 0 15px 0;
}
.contacts-burger__phone a {
  display: block;
  font-weight: 600;
  margin-top: 6px;
  color: aliceblue;
}
.contacts-burger__email {
  margin: 0 0 15px 0;
}
.contacts-burger__email a {
  display: block;
  font-weight: 600;
  margin-top: 6px;
  color: aliceblue;
}

.social-burger__github {
  display: block;
  margin-top: 6px;
  font-weight: 600;
  color: aliceblue;
}

@supports (margin-top: clamp( 6.25rem , -2.0833333333rem  +  17.3611111111vw , 10.9375rem )) {
  .page {
    margin-top: clamp( 6.25rem , -2.0833333333rem  +  17.3611111111vw , 10.9375rem );
  }
}
@supports not (margin-top: clamp( 6.25rem , -2.0833333333rem  +  17.3611111111vw , 10.9375rem )) {
  .page {
    margin-top: calc(
         6.25rem + 4.6875 * (100vw - 48rem) / 27
      );
  }
}
@media (max-width: 47.99875em) {
  .page {
    margin-top: 100px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 600;
}
@supports (margin-bottom: clamp( 1.5625rem , -0.6597222222rem  +  4.6296296296vw , 2.8125rem )) {
  .title {
    margin-bottom: clamp( 1.5625rem , -0.6597222222rem  +  4.6296296296vw , 2.8125rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , -0.6597222222rem  +  4.6296296296vw , 2.8125rem )) {
  .title {
    margin-bottom: calc(
         1.5625rem + 1.25 * (100vw - 48rem) / 27
      );
  }
}
@media (max-width: 47.99875em) {
  .title {
    margin-top: 35px;
  }
}
.title__text {
  text-align: center;
  font-weight: 600;
}
@supports (font-size: clamp( 1.5rem , 0.5681818182rem  +  4.6590909091vw , 4.0625rem )) {
  .title__text {
    font-size: clamp( 1.5rem , 0.5681818182rem  +  4.6590909091vw , 4.0625rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 0.5681818182rem  +  4.6590909091vw , 4.0625rem )) {
  .title__text {
    font-size: calc(
         1.5rem + 2.5625 * (100vw - 20rem) / 55
      );
  }
}

@supports (margin-bottom: clamp( 2.1875rem , -2.2569444444rem  +  9.2592592593vw , 4.6875rem )) {
  .portfolio {
    margin-bottom: clamp( 2.1875rem , -2.2569444444rem  +  9.2592592593vw , 4.6875rem );
  }
}
@supports not (margin-bottom: clamp( 2.1875rem , -2.2569444444rem  +  9.2592592593vw , 4.6875rem )) {
  .portfolio {
    margin-bottom: calc(
         2.1875rem + 2.5 * (100vw - 48rem) / 27
      );
  }
}
@media (max-width: 47.99875em) {
  .portfolio {
    margin-top: 35px;
  }
}
.portfolio__title {
  text-align: center;
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .portfolio__title {
    margin-bottom: 20px;
  }
}
.portfolio__title-text {
  font-weight: 600;
  margin-bottom: 10px;
}
@supports (font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .portfolio__title-text {
    font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
  .portfolio__title-text {
    font-size: calc(
         1.25rem + 1.875 * (100vw - 20rem) / 55
      );
  }
}
.portfolio__title-link {
  text-decoration: underline !important;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .portfolio__title-link {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .portfolio__title-link {
    font-size: calc(
         1rem + 0.5 * (100vw - 20rem) / 55
      );
  }
}
.portfolio__title-link:hover {
  color: #0B0080;
  font-style: italic;
  font-weight: 600;
}
.portfolio__body {
  position: relative;
  border-radius: 25px;
  border: 20px solid transparent;
}
.portfolio__image {
  height: 600px;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 71.875em) {
  .portfolio__image {
    height: 450px;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__image {
    height: 200px;
  }
}
.portfolio__image::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 3;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: linear-gradient(90deg, transparent, 14%, #288FB1, 25%, transparent, 15%, transparent);
  background-position: 40% 0%;
  background-size: 300% 300%;
}
.portfolio__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, 14%, #288FB1, 25%, transparent, 15%, transparent);
  border-radius: 12px;
  background-position: 62% 0%;
  background-size: 300% 300%;
}
.portfolio__image.right::after {
  -webkit-animation: moveRightGradient 1s linear;
          animation: moveRightGradient 1s linear;
}
.portfolio__image.right img:nth-child(2) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.portfolio__image.left::before {
  -webkit-animation: moveLeftGradient 1s linear;
          animation: moveLeftGradient 1s linear;
}
.portfolio__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio__image img:nth-child(2) {
  transition: all 0.7s linear 0s;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.portfolio__image:hover .image-portfolio__skills, .portfolio__image:hover .image-portfolio__development {
  left: 0;
}

.image-portfolio {
  position: relative;
}
.image-portfolio__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-portfolio__development {
  position: relative;
  top: 0px;
  left: -100%;
  padding: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-weight: 600;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .image-portfolio__development {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .image-portfolio__development {
    font-size: calc(
         1rem + 0.5 * (100vw - 20rem) / 55
      );
  }
}
.image-portfolio__development:hover .image-portfolio__bacground {
  opacity: 1;
}
.image-portfolio__development:active {
  pointer-events: none;
}
.image-portfolio__development--body {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.image-portfolio__development--body:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  color: #fff;
  font-weight: 500;
}
.image-portfolio__development--body:hover svg {
  transform: scale(1.2);
}
.image-portfolio__bacground {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1);
  opacity: 0.8;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.image-portfolio__skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 100%;
  transform: translate(0, -200%);
  left: 100%;
  padding: 20px;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .image-portfolio__skills {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .image-portfolio__skills {
    font-size: calc(
         1rem + 0.5 * (100vw - 20rem) / 55
      );
  }
}
.image-portfolio__skills:hover .image-portfolio__bacground {
  opacity: 1;
}
.image-portfolio__skills:active {
  pointer-events: none;
}
.image-portfolio__icon {
  margin-right: 5px;
  transition: all 0.3s ease 0s;
}
.image-portfolio__icon svg {
  transition: all 0.3s ease 0s;
  width: 30px;
  height: 30px;
}
.image-portfolio__skill {
  display: flex;
  align-items: center;
}
.image-portfolio__skill:not(:last-child) {
  margin-right: 20px;
}
.image-portfolio__skill:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  color: #fff;
  font-weight: 500;
}
.image-portfolio__skill:hover svg {
  transform: scale(1.2);
}
@-webkit-keyframes moveRightGradient {
  0% {
    background-position: 40% 0%;
  }
  100% {
    background-position: -50% 0%;
  }
}
@keyframes moveRightGradient {
  0% {
    background-position: 40% 0%;
  }
  100% {
    background-position: -50% 0%;
  }
}
@-webkit-keyframes moveLeftGradient {
  0% {
    background-position: 62% 0%;
  }
  100% {
    background-position: 152% 0%;
  }
}
@keyframes moveLeftGradient {
  0% {
    background-position: 62% 0%;
  }
  100% {
    background-position: 152% 0%;
  }
}
.footer {
  background: linear-gradient(125deg, #288FB1, 15%, #000, 85%, #288FB1, #000);
  padding: 50px 0;
}
.footer__container {
  display: flex;
}
@media (max-width: 75em) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__row {
  display: flex;
}
.footer__row:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 75em) {
  .footer__row:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .footer__row:last-child {
    justify-content: space-around;
  }
}
@media (max-width: 61.99875em) {
  .footer__row:first-child {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .footer__row:last-child {
    flex-direction: column;
    align-items: center;
  }
}
.footer__avatar {
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 40px;
}
@media (max-width: 75em) {
  .footer__avatar {
    flex: 0 0 300px;
  }
}
@media (max-width: 61.99875em) {
  .footer__avatar {
    order: 2;
    align-self: center;
    margin: 25px 0;
  }
}
@media (max-width: 47.99875em) {
  .footer__avatar {
    order: 1;
  }
}
.footer__center-items {
  display: flex;
}
@media (max-width: 75em) {
  .footer__center-items {
    flex: 1 1 100%;
    justify-content: space-around;
  }
}
@media (max-width: 61.99875em) {
  .footer__center-items {
    order: 1;
  }
}
@media (max-width: 47.99875em) {
  .footer__center-items {
    flex-direction: column;
    order: 2;
  }
}
.footer__about-me {
  margin-right: 60px;
  min-width: 180px;
}
@media (max-width: 47.99875em) {
  .footer__about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  transition: all 0.3s ease 0s;
}
.footer__title:hover {
  color: #f0f8ff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
@media (max-width: 75em) {
  .footer__programs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.footer__list-item:hover .footer__icon {
  transform: scale(1.2);
}
.footer__list-item:hover .footer__text {
  font-weight: 600;
  color: #f0f8ff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
.footer__list-item.active .footer__text {
  font-weight: 600;
  color: #f0f8ff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
.footer__list-item.active span {
  color: #288FB1;
  text-shadow: none;
}
.footer__icon {
  transition: all 0.5s ease 0s;
  margin-right: 10px;
}
.footer__icon svg {
  width: 30px;
  height: 30px;
}
.footer__skills {
  min-width: 140px;
  margin-right: 40px;
}
@media (max-width: 75em) {
  .footer__skills {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 75em) {
  .footer__framework {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__text {
  font-size: 1.25rem;
  cursor: default;
  transition: all 0.3s ease 0s;
}

.avatar__full {
  width: 100%;
  height: 100%;
  position: relative;
}
.avatar__full.avatar__mini {
  transition: unset;
  position: absolute;
  width: 115px;
  height: 115px;
  top: 50%;
  left: 50%;
  display: none;
}
.avatar__full.avatar__mini img {
  position: absolute;
}
.avatar__full img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar__full::before {
  content: "";
  position: absolute;
  width: calc(100% + 160px);
  transform: translate(-80px, -120px);
  height: calc(100% + 120px);
  display: none;
  z-index: 1;
}
@media (any-pointer: coarse) {
  .avatar__full::before {
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
  }
}
.avatar__full.active::before {
  display: block;
}
.avatar__mini {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 50%;
  transition: all 1.2s ease 0s;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  pointer-events: none;
}
@media (max-width: 87.5em) {
  .avatar__mini {
    width: 80px;
    height: 80px;
  }
}
.avatar__mini img {
  transition: all 1.2s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar__mini.active {
  opacity: 1;
  visibility: visible;
}
@media (any-pointer: coarse) {
  .avatar__mini.active {
    pointer-events: all;
  }
}
@media (pointer: fine) {
  .avatar__mini.active.hover {
    pointer-events: all;
  }
}
.avatar__mini.active.hover:hover img {
  transform: scale(2);
}
@media (max-width: 87.5em) {
  .avatar__mini.active.hover:hover img {
    transform: scale(1.5);
  }
}
.avatar__mini.hide {
  transition: all 0.5s ease 0s;
  opacity: 0 !important;
  visibility: hidden !important;
}
.avatar__mini.fly {
  opacity: 1 !important;
  visibility: visible !important;
}
.avatar__mini.transform {
  transition: all 1.2s ease 1.2s;
  width: 100%;
  height: 100%;
}
.avatar__mini.transform img {
  border-radius: 0;
}
.avatar__mini-left {
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar__mini-left.active {
  left: 0;
  top: 0;
  transform: translate(-100%, -100%);
}
@media (max-width: 87.5em) {
  .avatar__mini-left.active {
    transform: translate(0%, 0%);
  }
}
.avatar__mini-middle {
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar__mini-middle.active {
  top: 0;
  transform: translate(-50%, -150%);
}
@media (max-width: 87.5em) {
  .avatar__mini-middle.active {
    transform: translate(-50%, -50%);
  }
}
.avatar__mini-right {
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar__mini-right.active {
  left: 100%;
  top: 0;
  transform: translate(0%, -100%);
}
@media (max-width: 87.5em) {
  .avatar__mini-right.active {
    transform: translate(-100%, 0%);
  }
}

.about-me__list {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .about-me__list {
    width: auto;
  }
}
.about-me__list-item {
  width: 100%;
}
.about-me__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.about-me__list-item:hover .about-me__text {
  color: inherit;
  text-shadow: unset;
}
.about-me__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
}
.about-me__text .flag {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  background-image: url("/img/flags/ua/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
  transition: all 0.3s ease 0s;
}
.about-me__text .flag.active {
  transform: scale(1.2);
}
.about-me__text p {
  cursor: default;
}
.about-me__text p:hover {
  color: #f0f8ff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
.about-me__text span {
  font-size: 1.125rem;
  color: #f0f8ff;
  padding: 5px;
  background: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
  transition: all 0.5s ease 0s;
  cursor: default;
}
.about-me__text span.active {
  color: #288FB1;
}

@media (max-width: 47.99875em) {
  .programs-footer__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 45px;
  }
}
.programs-footer__list-item:nth-child(5) .footer__text {
  min-width: 160px;
}
/*----POP-UP----*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #000, 45%, #288FB1, #000);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
}
.popup.send .popup__text {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.popup.send .success {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup__body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
@media (max-width: 29.99875em) {
  .popup__body {
    padding: 0;
    height: 100%;
  }
}

.popup__content {
  background-color: #87b0ee;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  background: linear-gradient(120deg, #000, 45%, #288FB1, #000);
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
@media (max-width: 29.99875em) {
  .popup__content {
    padding: 0 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    overflow-y: auto;
  }
}
@media (min-width: 29.99875em) and (max-height: 750px) {
  .popup__content {
    height: 100%;
    justify-content: flex-start;
    overflow-y: auto;
  }
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #fff;
  font-size: 20px;
  display: block;
  height: 37px;
}
@media (max-width: 29.99875em) {
  .popup__close {
    position: relative;
    height: 37px;
    flex: 0 0 37px;
    align-self: flex-end;
    margin-bottom: 10px;
    display: block;
  }
}
@media (min-width: 29.99875em) and (max-height: 750px) {
  .popup__close {
    position: relative;
    height: 37px;
    flex: 0 0 37px;
    align-self: flex-end;
    margin-bottom: 10px;
    display: block;
  }
}
.popup__close span:first-child {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f0f8ff;
  transform: rotate(45deg);
  position: relative;
  top: 18px;
}
.popup__close span:last-child {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f0f8ff;
  transform: rotate(-45deg);
  position: relative;
  top: 16px;
}

/*----POP-UP-JS----*/
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

/*----POP-UP-JS----*/
/*----POP-ELEMENTS----*/
.popup__row {
  position: relative;
  min-width: 505px;
}
@media (max-width: 47.99875em) {
  .popup__row {
    min-width: unset;
  }
}
.popup__send-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
}
.popup__send-load.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.popup__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: linear-gradient(120deg, #000, 45%, #288FB1, #000);
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: #f0f8ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.popup__loading::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 104%;
  height: 104%;
  border: 3px solid transparent;
  border-top: 3px solid #f0f8ff;
  border-right: 3px solid #f0f8ff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff000;
}
.popup__loading span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  -webkit-animation: loadingBall 2s linear infinite;
          animation: loadingBall 2s linear infinite;
}
.popup__loading span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f0f8ff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
.popup__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: aliceblue;
}
@supports (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .popup__title {
    font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .popup__title {
    font-size: calc(
         1.25rem + 1.25 * (100vw - 20rem) / 55
      );
  }
}
.popup__text {
  text-align: center;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.3s ease 0s;
}
.popup__button {
  color: aliceblue;
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  font-weight: 600;
  background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
  transition: box-shadow 0.15s, transform 0.15s;
  white-space: nowrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-top: 50px;
  width: 230px;
  text-align: center;
}
.popup__button:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
.popup__button:active {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}

@-webkit-keyframes borderLine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes borderLine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingBall {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes loadingBall {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.contacts-form__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-form__item input {
  width: 70%;
  height: 40px;
  padding-left: 15px;
  outline: none;
  border-radius: 15px;
  background-color: #288FB1;
  color: #000;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.contacts-form__item input::-moz-placeholder {
  color: #000;
  font-weight: 600;
}
.contacts-form__item input:-ms-input-placeholder {
  color: #000;
  font-weight: 600;
}
.contacts-form__item input::placeholder {
  color: #000;
  font-weight: 600;
}
@media (max-width: 61.99875em) {
  .contacts-form__item input {
    width: 100%;
  }
}
.contacts-form__item textarea {
  width: 70%;
  height: 200px;
  padding-left: 15px;
  padding-top: 15px;
  resize: none;
  outline: #288FB1;
  border-radius: 15px;
  background-color: #288FB1;
  color: #000;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.contacts-form__item textarea::-moz-placeholder {
  color: #000;
  font-weight: 600;
}
.contacts-form__item textarea:-ms-input-placeholder {
  color: #000;
  font-weight: 600;
}
.contacts-form__item textarea::placeholder {
  color: #000;
  font-weight: 600;
}
@media (max-width: 61.99875em) {
  .contacts-form__item textarea {
    width: 100%;
  }
}

.error {
  color: #fff;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(110, 7, 7);
  line-height: 1.5;
}

.popup-download {
  position: relative;
  line-height: 1.8;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-download .file-button {
  padding-left: 40px;
  position: relative;
  top: 4px;
  display: inline-block;
}

.file {
  width: 170px;
  position: relative;
  left: 10px;
}

.popup-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  font-size: 0 !important;
  z-index: 500;
  display: block;
  cursor: pointer;
}

.file-button {
  position: relative;
  background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
  color: aliceblue;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  white-space: nowrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.file-button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(/images/donwload.svg?d6a5ca314666c1264a664d987e264815);
  background-repeat: no-repeat;
  left: 10px;
  z-index: 300;
  top: 50%;
  transform: translateY(-50%);
}

.file:active .file-button {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}

.preview-file {
  margin-left: 20px;
  position: relative;
  height: 96px;
}
.preview-file img, .preview-file video {
  position: relative;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

.loading-preview {
  position: relative;
}
.loading-preview .popup__loading {
  left: 20px;
  top: 0px;
  width: 96px;
  height: 96px;
  font-size: 14px;
  z-index: 50;
  transform: translate(0, 0);
  transition: all 0s ease 0s;
  display: none;
}
.loading-preview .popup__loading::before {
  width: 106%;
  height: 106%;
}
.loading-preview .popup__loading p {
  position: absolute;
  top: -24px;
  font-size: 12px;
  left: 4px;
}
.loading-preview.load .preview-file {
  width: 96px;
}
.loading-preview.load .popup__loading {
  display: block;
}

.submit {
  color: aliceblue;
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  font-weight: 600;
  background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
  box-shadow: #288fb1 0 0 0 1.5px inset, rgba(40, 143, 177, 0.4) 0 2px 4px, rgba(40, 143, 177, 0.3) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
  transition: box-shadow 0.15s, transform 0.15s;
  white-space: nowrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 230px;
}
.submit:hover {
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
}
@media (max-width: 29.99875em) {
  .submit {
    margin-top: 20px;
  }
}

.submit:active {
  box-shadow: #288FB1 0 3px 7px inset;
  transform: translateY(2px);
}

.confirm {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease 0.3s;
}
.success p {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
}
.success p:first-child {
  font-weight: 600;
  text-transform: uppercase;
}
@supports (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
  .success p:first-child {
    font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
  .success p:first-child {
    font-size: calc(
         1.125rem + 0.75 * (100vw - 20rem) / 55
      );
  }
}
.success p:nth-child(2) {
  font-weight: 400;
}
@supports (font-size: clamp( 1.125rem , 0.9659090909rem  +  0.7954545455vw , 1.5625rem )) {
  .success p:nth-child(2) {
    font-size: clamp( 1.125rem , 0.9659090909rem  +  0.7954545455vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9659090909rem  +  0.7954545455vw , 1.5625rem )) {
  .success p:nth-child(2) {
    font-size: calc(
         1.125rem + 0.4375 * (100vw - 20rem) / 55
      );
  }
}

/*----POP-ELEMENTS----*/
.messengers {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

.svg-messengers__btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #288FB1;
  background: linear-gradient(#288FB1, #000);
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.svg-messengers__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.svg-messengers__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.svg-messengers__close svg {
  transition: all 0.5s linear 0s;
}
.svg-messengers__close.active {
  opacity: 1;
  visibility: visible;
}
.svg-messengers__close.active svg {
  transform: rotate(360deg);
}
.svg-messengers__open {
  transition: all 0.2s ease 0s;
}
.svg-messengers__open svg {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.svg-messengers__open.hide {
  opacity: 0;
  visibility: hidden;
}
.svg-messengers__open.hide svg {
  transform: rotate(180deg);
}
.svg-messengers__icons {
  position: relative;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}
.svg-messengers__icons.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 0;
}
.svg-messengers__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 15px;
}
.svg-messengers__icon.whatsapp-icon {
  background-color: #4DC247;
}
.svg-messengers__icon.telegram-icon {
  background-color: #0088CC;
}
.svg-messengers__icon.viber-icon {
  background-color: #7B519D;
}
.svg-messengers__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 11px;
}
.svg-messengers__icon:hover .svg-messengers__label {
  right: calc(100% + 20px);
  opacity: 1;
  visibility: visible;
}
.svg-messengers__whatsapp {
  width: 40px;
  height: 40px;
}
.svg-messengers__telegram {
  width: 40px;
  height: 40px;
}
.svg-messengers__label {
  display: none;
}
@media (pointer: fine) {
  .svg-messengers__label {
    display: block;
    transition: all 0.1s ease 0s;
    position: absolute;
    font-family: "Muller";
    font-size: 13px;
    border: 1px solid rgb(226, 226, 226);
    padding: 4px 9px 6px;
    border-radius: 4px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
    line-height: 15px;
    pointer-events: none;
    right: calc(50% + 20px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
}
.svg-messengers__controls {
  position: relative;
}
.svg-messengers__label-btn {
  position: absolute;
  font-family: "Muller";
  font-size: 14px;
  right: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 13px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  background: white;
  transition: all 0.4s ease 0s;
}
.svg-messengers__label-btn.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.svg-messengers__label-btn p {
  padding: 7px 10px;
  line-height: 14px;
  margin: auto;
}
.svg-messengers__label-btn p::before {
  content: "";
  position: absolute;
  background: white;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}
.svg-messengers__label-btn p::after {
  content: "";
  position: absolute;
  background: white;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}
@media (max-width: 61.99875em) {
  .svg-messengers__label-btn {
    display: none;
  }
}
