//====================================================================================================
.footer {
   background: linear-gradient(125deg,#288FB1,15%,#000, 85%,  #288FB1, #000,);
   padding: 50px 0;

   &__container {
      display: flex;
   }

   &__row {
      display: flex;
      &:not(:last-child){
         @include adaptiveValueREM('margin-right',40,15);
      }
   }

   &__avatar {
      position: relative;
      width: 300px;
      height: 300px;
      @include adaptiveValueREM('margin-right',40,15);
      cursor: pointer;
   }

   &__center-items {
      display: flex;
   }

   &__about-me {
      @include adaptiveValueREM('margin-right',40,15);
      min-width: 180px;
     // white-space: nowrap;
   }

   &__title {
      text-align: center;
      @include adaptiveValueREM('font-size', 24,20 );
      font-weight: 600;
      margin-bottom: 15px;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
         color: $white;
         text-shadow: 0 0 10px rgb(0 123 255 / 70%), 0 0 40px rgb(0 123 255 / 70%), 0 0 100px rgb(0 123 255 / 70%);
      }
   }

   &__programs {
   }
   &__list-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
   }
   &__icon {
      margin-right: 10px;
      svg{
         width:30px;
         height: 30px;
      }
   }

   &__skills {
      min-width: 140px;
      @include adaptiveValueREM('margin-right',40,15);
   }

   &__framework {
   }

   &__text {
      @include adaptiveValueREM('font-size', 20, 18);
      cursor: pointer;
      transition: all 0.5s ease 0s;
      &:hover {
         font-weight: 600;
         color: $white;
         text-shadow: 0 0 10px rgb(0 123 255 / 70%), 0 0 40px rgb(0 123 255 / 70%), 0 0 100px rgb(0 123 255 / 70%);
      }
   }
}
.avatar {

   &__full {
      width: 100%;
      height: 100%;
      position: relative;
      &.avatar__mini{
         transition: unset;
         position: absolute;
         width: 115px;
         height: 115px;
         top: 50%;
         left: 50%;
         display: none;
         img {
            position: absolute;
         }
      }
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      &::before{
         content: '';
         position: absolute;
         width: calc(100% + 160px);
         transform: translate(-80px,-120px);
         height: calc(100% + 120px);
         display: none;
         z-index: 1;
      }
      &.active{
         &::before{
            display: block;
         }
      }
   }

   &__mini {
   position: absolute;
   width: 115px;
   height: 115px;
   top: 50%;
   transition: all 1.2s ease 0s;
   opacity: 0;
   visibility: hidden;
   border-radius: 50%;
   pointer-events: none;
   z-index: 10;
   img {
   transition: all 1.2s ease 0s;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
   
   }
   &.active{
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      &.hover{
         &:hover{
            img{
               transform: scale(2);
             }
         }
      }
   }
   &.hide{
      transition: all 0.5s ease 0s;
      opacity: 0 !important;
      visibility: hidden !important;
   }
   &.fly{
      opacity: 1 !important;
      visibility: visible !important;
   }
   &.transform{
      transition: all 1.2s ease 1.2s;
      width: 100%;
      height: 100%;
     
      img{
         border-radius: 0;
      }
   }
}

   &__mini-left {
      left: 50%;
      transform: translate(-50%, -50%);
      &.active{
         left: 0;
         top: 0;
         transform: translate(-100%, -100%);
      }
   }

   &__mini-middle {
      left: 50%;
      transform: translate(-50%, -50%);
      &.active{
         top: 0;
         transform: translate(-50%, -150%);
      }
   }

   &__mini-right {
     left: 50%;
     transform: translate(-50%, -50%);
     &.active{
      left: 100%;
      top: 0;
      transform: translate(-0%, -100%);
      }
   }
}
.about-me {
  // min-width: 222px;

   &__list {
      width: 100%;
   }

   &__list-item {
      &:not(:last-child){
         margin-bottom: 10px;
      }
    /*  &:last-child{
         .about-me__text{
            display: flex;
            align-items: center;
         }
      }  */
   }

   &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      width: 100%;
      .flag{
         margin-left: 10px;
         width: 100px;
         height: 100px;
         background-image: url('/img/flags/ua/3.png');
         background-size: contain;
         background-repeat: no-repeat;
      }
      p{
      }
      span{
        // margin-right: 30px;
         @include adaptiveValueREM('font-size', 18, 16);
         padding: 5px;
         color: $white;
			background: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
			border-radius: 6px;
			box-shadow: #288fb1 0 0 0 1.5px inset, rgb(40 143 177 / 40%) 0 2px 4px, rgb(40 143 177 / 30%) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
      }
   }
}
.programs-footer {
   
   min-width: 215px;
   &__list {
   }

   &__list-item {
  
   }

   &__img {
   }
}
.framework-footer {

   &__list {
   }

   &__list-item {
   }
}
.skills-footer {

   &__list {
   }

   &__list-item {
   }

   &__img {
   }

}

//====================================================================================================
