//====================================================================================================
.footer {
   display: flex;
   background: linear-gradient(125deg,#288FB1,15%,#000, 85%,  #288FB1, #000,);
   &__left-side {
      flex: 1 1 auto;
      padding: 50px 0;
	min-width: 50px;

	@media (max-width: em(374.98)) {
		min-width: unset;
	}
   }

   &__container {
      flex: 1 1 100%;
      display: flex;

   }

   &__row {
      display: flex;
      &:not(:last-child){
         @include adaptiveValueREM('margin-right',40,15);
      }
      padding: 50px 0;
   }

   &__avatar {
      position: relative;
      width: 300px;
      height: 300px;
      @include adaptiveValueREM('margin-right',40,15);
      cursor: pointer;
   }

   &__center-items {
      display: flex;
   }

   &__about-me {
      @include adaptiveValueREM('margin-right',40,15);
      min-width: 180px;
      white-space: nowrap;
   }

   &__title {
      text-align: center;
      @include adaptiveValueREM('font-size', 24,18 );
      font-weight: 600;
      margin-bottom: 15px;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__programs {
   }
   &__list-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
   }
   &__icon {
      margin-right: 10px;
      svg{
         width:30px;
         height: 30px;
      }
   }

   &__skills {
      @include adaptiveValueREM('margin-right',40,15);
   }

   &__framework {
   }

   &__right-side {
      flex: 1 1 auto;
      padding: 50px 0;
   }
}
.avatar {

   &__full {
      width: 100%;
      height: 100%;
      position: relative;
      &.avatar__mini{
         transition: unset;
         position: absolute;
         width: 115px;
         height: 115px;
         top: 50%;
         left: 50%;
         display: none;
         img {
            position: absolute;
         }
      }
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      &::before{
         content: '';
         position: absolute;
         width: calc(100% + 160px);
         transform: translate(-80px,-120px);
         height: calc(100% + 120px);
         display: none;
         z-index: 1;
      }
      &.active{
         &::before{
            display: block;
         }
      }
   }

   &__mini {
   position: absolute;
   width: 115px;
   height: 115px;
   top: 50%;
   transition: all 1.2s ease 0s;
   opacity: 0;
   visibility: hidden;
   border-radius: 50%;
   pointer-events: none;
   z-index: 10;
   img {
   transition: all 1.2s ease 0s;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
   
   }
   &.active{
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      &.hover{
         &:hover{
            img{
               transform: scale(2);
             }
         }
      }
   }
   &.hide{
      transition: all 0.5s ease 0s;
      opacity: 0 !important;
      visibility: hidden !important;
   }
   &.fly{
      opacity: 1 !important;
      visibility: visible !important;
   }
   &.transform{
      transition: all 1.2s ease 1.2s;
      width: 100%;
      height: 100%;
     
      img{
         border-radius: 0;
      }
   }
}

   &__mini-left {
      left: 50%;
      transform: translate(-50%, -50%);
      &.active{
         left: 0;
         top: 0;
         transform: translate(-100%, -100%);
      }
   }

   &__mini-middle {
      left: 50%;
      transform: translate(-50%, -50%);
      &.active{
         top: 0;
         transform: translate(-50%, -150%);
      }
   }

   &__mini-right {
     left: 50%;
     transform: translate(-50%, -50%);
     &.active{
      left: 100%;
      top: 0;
      transform: translate(-0%, -100%);
      }
   }
}
.about-me {

   &__list {
   }

   &__list-item {
   }

   &__text {
      display: flex;
      align-items: center;
      .flag{
         margin-left: 10px;
         width: 100px;
         height: 100px;
         background-image: url('/img/flags/ua/3.png');
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
}
.programs-footer {

   &__list {
   }

   &__list-item {
  
   }

   &__img {
   }
}
.framework-footer {

   &__text {
   }

   &__list {
   }

   &__list-item {
   }
}
.skills-footer {

   &__list {
   }

   &__list-item {
   }

   &__img {
   }

   &__text {
   }
}

//====================================================================================================
