//====================================================================================================
.header {
	

	&__wraper {
		background-color: #000;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
&__left {
	width: 100%;
	background: linear-gradient(to right,#288FB1, 65%, #000);
}
&__right {
	width: 100%;
	background: linear-gradient(to left,#288FB1, 65%, #000);
}
	&__container {
		min-width: 1170px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		position: relative;
		max-width: 500px;
	}

	&__actions {
		display: flex;
		align-items: center;
		color: #288FB1;
	}

	&__language {
		margin-right: 40px;
		
	}

	&__contacts {
	}
}
.logo {
	&__video{
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__title{
		font-family: "Russo One";
		@include adaptiveValueREM('font-size', 100,30 );
		letter-spacing: 7px;
		width: 100%;
		height: 100%;
		background-color: #000;
		color: #fff;
		mix-blend-mode: multiply;
		/*background-color:  #fff;
		color: #000;
		mix-blend-mode: lighten;*/
		cursor: pointer;
		user-select: none;
	}
}
.actions-header {

	&__language {
		position: relative;
		font-size: rem(18);
		&::after{
			content: '';
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 100%;
			height: 9px;
		}
		&:hover{
		.language__select{
			opacity: 1;
			visibility: visible;
			&:not(:first-child){
				bottom: -30px;
			}
			&:last-child{
				bottom: -60px;
			}
		}
	}
	}
}
.language {

	&__select {
		transition: all 0.3s ease 0s;
		&:not(:first-child){
			position: absolute;
			bottom: -40px;
			opacity: 0;
			visibility: hidden;
		}
		&:last-child{
			bottom: -70px;
			&::before{
				content: '';
				position: absolute;
				top: -9px;
				left: 0;
				width: 100%;
				height: 9px;
			}
			.language__link{
				.language__icon{
					&.ru{
						left: 2px;
					}
				}
			}
		}
	}


	&__link {
		display: flex;
		align-items: center;
	}

	&__text {
		margin-right: 10px;
		height: 100%;
		cursor: pointer;
		font-weight: 600;
	}

	&__icon {
		width: 35px;
		height: 25px;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		&.ua{
			background-image: url('/img/flags/ua/2.jpg');
		}
		&.en{
			background-image: url('/img/flags/en/1.jpg');
		}
		&.ru{
			position: relative;
			background-image: url('/img/flags/ru/russia.svg');
			background-size: cover;
			top: -5px;
			left: 3px;
		}
	}
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
