//====================================================================================================
.header {
z-index: 200;

	&__wraper {
		background-color: #000;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
		@media (max-width: $mobile) {
			height: 70px;
		}
	}
&__left {
	width: 100%;
	background: linear-gradient(to right,#288FB1, 65%, #000);
	min-width: 50px;
	@media (max-width: em(374.98)) {
		min-width: unset;
	}
}
&__right {
	width: 100%;
	background: linear-gradient(to left,#288FB1, 65%, #000);
/*	@media (max-width: em(1250)) {
		position: absolute;
		right: 0;
		width: 50px;
		height: 100%;
	}*/
}
	&__container {
		@include adaptiveValueREM('min-width',1170,320);
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__logo {
		position: relative;
		max-width: 500px;
		z-index: 5;
	}

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		color: #288FB1;
		@media (max-width: em(1250)) {
		left: -65px;
		}
		@media (max-width: $mobileSmall) {
			left: -35px;
		}
		@media (max-width: em(374.98)) {
			left: 0px;
		}
	}

	&__language {
		z-index: 5;
		@include adaptiveValueREM('margin-right',40,10, 1170,768,1);
	}

	&__contacts {
		//font-size: rem(18);
		position: relative;
		@include adaptiveValueREM('font-size', 24,18, 1170,768,1 );
		font-weight: 600;
		&:not(:last-child){
			@include adaptiveValueREM('margin-right',40,10, 1170,768,1);
		}
		cursor: pointer;
		white-space: nowrap;
		padding-left: 16px;
		padding-right: 16px;
		@media (max-width: em(800)) {
			padding-left: 8px;
			padding-right: 8px;
		}
		transition: all 0.5s ease 0s;
			@media (pointer: fine) {
			&:hover {
				background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
				border-radius: 6px;
				box-shadow: #288fb1 0 0 0 1.5px inset, rgb(40 143 177 / 40%) 0 2px 4px, rgb(40 143 177 / 30%) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
				padding-left: 16px;
				padding-right: 16px;
				line-height: 1.8;
				@media (max-width: em(800)) {
					padding-left: 8px;
					padding-right: 8px;
				}
			}
			}
			@media (any-pointer: coarse) {
				background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
				border-radius: 6px;
				box-shadow: #288fb1 0 0 0 1.5px inset, rgb(40 143 177 / 40%) 0 2px 4px, rgb(40 143 177 / 30%) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
				padding-left: 16px;
				padding-right: 16px;
				line-height: 1.8;
			}
			@media (any-pointer: coarse) and (max-width: em(800)){
				padding-left: 8px;
				padding-right: 8px;
			}
			&:active{
				box-shadow: #288FB1 0 3px 7px inset;
         transform: translateY(2px);
			}
@media (max-width: $mobile) {
	display: none ;
}
	}

.contacts-header {
	&__row{
		@media (pointer: fine) {
				&:hover {
					.contacts-header__contacts{
						opacity: 1;
						visibility: visible;
						pointer-events: all;
						top: 100%;
						line-height: 1;
				}
			}
		}
		&.active{
			.contacts-header__contacts{
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				top: 100%;
			}
		}
	}
	&__title-text{
		
	}

	&__contacts {
		position: absolute;
		left: 0px;
		top: 200%;
		background: linear-gradient(to right,#288FB1, 15%, #000);
		transform: translate(calc(-50% + 55px), 0%);
		transition: all 0.5s ease 0s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		@media (min-width: em(992)) and (max-width: em(1200)) {
			transform: translate(calc(-50% + 100px), 0%);
		}
		@media (max-width: em(900)) {
			transform: translate(calc(-50% + 90px), 0%);;
		}
	}
	
	&__body {
		padding: 50px 50px 30px 50px;
		@media (min-width: em(992)) and (max-width: em(1200)) {
			padding: 30px 20px;
		}
	}
	
	&__link {
		font-size: rem(20);
		color: aliceblue;
		margin-bottom: 30px;
		@media (max-width: $tablet) {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	
	&__phone-item{
		&:not(:last-child){
			margin-right: 40px;
		}
		&:hover{
			text-shadow:
			0 0 10px rgba(0, 123, 255, .7),
			0 0 40px rgba(0, 123, 255, .7),
			0 0 100px rgba(0, 123, 255, .7);
	}
	@media (max-width: $tablet) {
		&:not(:last-child){
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	}
	
	
		&__address {
			font-size: rem(20);
			color: aliceblue;
			text-align: center;
			&:hover{
				text-shadow:
				0 0 10px rgba(0, 123, 255, .7),
				0 0 40px rgba(0, 123, 255, .7),
				0 0 100px rgba(0, 123, 255, .7);
		}
		}
	
		&__messengers {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;

		}
	
		&__social {
			text-align: center;
			margin-bottom: 30px;
			
			a{
				display: inline-block;
				background-color: aliceblue;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			position: relative;
			transition: all 0.3s ease 0s;
			&:hover{
				box-shadow: rgb(240 248 255 / 70%) 2px 2px 11px;
			}
			svg{
				position: absolute;
				width: 65px;
			height: 65px;
			top: -7px;
			left: -7px;
			}
			}
			
		}
	}
	.contacts-header-phone {
	}
	.contacts-header-email {
	}
	.messengers-header {
		
		&__item {
			width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		&:not(:last-child){
			margin-right: 40px;
		}
			svg{
				width: 40px;
				height: 40px;
			}
			&:hover{
				box-shadow: rgb(240 248 255 / 70%) 2px 2px 11px;
			}
		}
		
	}
	.messengers-header-telegram {
	}
	.svg-messengers {
	
		&__telegram {
			
			
		}
	
		&__whatsapp {
			
		}
	
		&__viber {
			position: relative;
			svg{
				display: block;
				top: 5px;
			}
		}
	}
	.messengers-header-telegram{
		background-color: #0088CC;
	}
	.messengers-header-wathsapp {
		background-color: #4DC247;
	}
	.messengers-header-viber {
		background-color: #7B519D;
	}
	

}
.logo {
	&__video{
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__title{
		font-family: "Russo One";
		@include adaptiveValueREM('font-size', 100,30 );
		letter-spacing: 7px;
		width: 100%;
		height: 100%;
		background-color: #000;
		color: #fff;
		mix-blend-mode: multiply;
		/*background-color:  #fff;
		color: #000;
		mix-blend-mode: lighten;*/
		cursor: pointer;
		user-select: none;
		&:hover{
			animation: neon 2s alternate-reverse infinite;
		}
		
	}
}

.actions-header {

	&__language {
		position: relative;
		font-size: rem(18);
		&::after{
			content: '';
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 100%;
			height: 9px;
		}
		@media (pointer: fine) {
		&:hover {
			.language__select{
				opacity: 1;
				visibility: visible;
				&:not(:first-child){
					bottom: -30px;
				}
				&:last-child{
					bottom: -60px;
				}
			}
		}
		}
		@media (any-pointer: coarse) {
		&.active{
			.language__select{
				opacity: 1;
				visibility: visible;
				&:not(:first-child){
					bottom: -30px;
				}
				&:last-child{
					bottom: -60px;
				}
			}
		}
		}
	
	}
}
.language {

	&__select {
		transition: all 0.3s ease 0s;
		&:not(:first-child){
			position: absolute;
			bottom: -40px;
			opacity: 0;
			visibility: hidden;
		}
		&:last-child{
			bottom: -70px;
			&::before{
				content: '';
				position: absolute;
				top: -9px;
				left: 0;
				width: 100%;
				height: 9px;
			}
			.language__link{
				.language__icon{
					&.ru{
						left: 2px;
					}
				}
			}
		}
	}


	&__link {
		display: flex;
		align-items: center;
		&:hover{
			.language__text{
			color: $white;
			background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
			border-radius: 6px;
			box-shadow: #288fb1 0 0 0 1.5px inset, rgb(40 143 177 / 40%) 0 2px 4px, rgb(40 143 177 / 30%) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
			}
		}
		&:active{
			.language__text{
				box-shadow: #288FB1 0 3px 7px inset;
				transform: translateY(2px);
			}
		}
	}

	&__text {
		margin-right: 10px;
		height: 100%;
		cursor: pointer;
		font-weight: 600;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 1.2;
	}

	&__icon {
		width: 35px;
		height: 25px;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		&.ua{
			background-image: url('/img/flags/ua/2.jpg');
		}
		&.en{
			background-image: url('/img/flags/en/1.jpg');
		}
		&.ru{
			position: relative;
			background-image: url('/img/flags/ru/russia.svg');
			background-size: cover;
			top: -5px;
			left: 3px;
		}
	}
}
@keyframes neon {
	from {
		 text-shadow:
			0 0 10px rgba(0, 123, 255, .7),
			0 0 40px rgba(0, 123, 255, .7),
			0 0 100px rgba(0, 123, 255, .7);
	  }
	  to {
		 text-shadow:
			0 0 5px rgba(0, 123, 255, .7),
			0 0 20px rgba(0, 123, 255, .7),
			0 0 60px rgba(0, 123, 255, .7);
	  }
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		left: -65px;
		cursor: pointer;
		z-index: 10;
		@media (max-width: em(374.98)) {
			left: -20px;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $mainColor;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		&.open  {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

.burger {
	right: -100%;
	top: 70px;
	position: fixed;
	height: 100vh;
	background: linear-gradient(120deg,#000, 65%,  #288FB1, #000);
	transition: all 0.3s ease 0s;
	&.open{
		right: 0;
	}
	&__body {
		padding: 50px;
		@media (max-width: $mobileSmall) {
			padding: 50px 30px;
		}
	}

	&__menu {
		@include adaptiveValueREM('font-size', 40,30, 768,320, 1 );
		font-weight: 600;
		
	}

	&__contacts {
		margin-bottom: 50px;
	}
}
.menu-burger {

	&__list {
	}

	&__item {
	align-items: center;
  background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
  border-radius: 6px;
 // box-shadow: rgba(40, 143, 177, .4) 0 2px 4px,rgba(40, 143, 177, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-shadow: #288FB1 0 0 0 1.5px inset, rgba(40, 143, 177, .4) 0 2px 4px, rgba(40, 143, 177, .3) 0 7px 13px -3px, #288FB1 0 -3px 0 inset; 
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: rem(22)

	}

}
.menu-burger__item:active{
	box-shadow: #288FB1 0 3px 7px inset;
	transform: translateY(2px);
}
.contacts-burger {

	&__tittle {
		font-size: rem(22);
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__contacts {
		p{
			&:last-child{
				font-weight: 600;
				margin-top: 6px;
				
			}
		}
	}

	&__address {
		margin: 0 0 15px 0;
		p{
			&:last-child{
				font-weight: 600;
				margin-top: 6px;
				color: aliceblue;
			}
		}
	}

	&__phone {
		margin: 0 0 15px 0;
		a{
			display: block;
			font-weight: 600;
			margin-top: 6px;
			color: aliceblue;
		}
	}

	&__email {
		margin: 0 0 15px 0;
		a{
			display: block;
				font-weight: 600;
				margin-top: 6px;
				color: aliceblue;
		}
	}
}
.social-burger {

	&__github {
		display: block;
		margin-top: 6px;
		font-weight: 600;
		color: aliceblue;
	}
}