//====================================================================================================
.header {
z-index: 50;

	&__wraper {
		background-color: #000;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
	}
&__left {
	width: 100%;
	background: linear-gradient(to right,#288FB1, 65%, #000);
	min-width: 50px;
	@media (max-width: em(374.98)) {
		min-width: unset;
	}
}
&__right {
	width: 100%;
	background: linear-gradient(to left,#288FB1, 65%, #000);
/*	@media (max-width: em(1250)) {
		position: absolute;
		right: 0;
		width: 50px;
		height: 100%;
	}*/
}
	&__container {
		@include adaptiveValueREM('min-width',1170,320);
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__logo {
		position: relative;
		max-width: 500px;
		z-index: 5;
	}

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		color: #288FB1;
		@media (max-width: em(1250)) {
		left: -65px;
		}
		@media (max-width: $mobileSmall) {
			left: -35px;
		}
		@media (max-width: em(374.98)) {
			left: 0px;
		}
	}

	&__language {
		z-index: 5;
		@include adaptiveValueREM('margin-right',40,10, 1170,768,1);
	}

	&__contacts {
		//font-size: rem(18);
		@include adaptiveValueREM('font-size', 24,18, 1170,768,1 );
		font-weight: 600;
		&:not(:last-child){
			@include adaptiveValueREM('margin-right',40,10, 1170,768,1);
		}
		cursor: pointer;
		white-space: nowrap;
		transition: all 0.5s ease 0s;
		&:hover{
		text-shadow:
		0 0 10px rgba(0, 123, 255, .7),
		0 0 40px rgba(0, 123, 255, .7),
		0 0 100px rgba(0, 123, 255, .7);
		//color: #fff;
		//letter-spacing: 3px;
	//		text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
}
@media (max-width: $mobile) {
	display: none ;
}
	}
}
.logo {
	&__video{
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__title{
		font-family: "Russo One";
		@include adaptiveValueREM('font-size', 100,30 );
		letter-spacing: 7px;
		width: 100%;
		height: 100%;
		background-color: #000;
		color: #fff;
		mix-blend-mode: multiply;
		/*background-color:  #fff;
		color: #000;
		mix-blend-mode: lighten;*/
		cursor: pointer;
		user-select: none;
		&:hover{
			animation: neon 2s alternate-reverse infinite;
		}
		
	}
}

.actions-header {

	&__language {
		position: relative;
		font-size: rem(18);
		&::after{
			content: '';
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 100%;
			height: 9px;
		}
		@media (pointer: fine) {
		&:hover {
			.language__select{
				opacity: 1;
				visibility: visible;
				&:not(:first-child){
					bottom: -30px;
				}
				&:last-child{
					bottom: -60px;
				}
			}
		}
		}
		@media (any-pointer: coarse) {
		&.active{
			.language__select{
				opacity: 1;
				visibility: visible;
				&:not(:first-child){
					bottom: -30px;
				}
				&:last-child{
					bottom: -60px;
				}
			}
		}
		}
	
	}
}
.language {

	&__select {
		transition: all 0.3s ease 0s;
		&:not(:first-child){
			position: absolute;
			bottom: -40px;
			opacity: 0;
			visibility: hidden;
		}
		&:last-child{
			bottom: -70px;
			&::before{
				content: '';
				position: absolute;
				top: -9px;
				left: 0;
				width: 100%;
				height: 9px;
			}
			.language__link{
				.language__icon{
					&.ru{
						left: 2px;
					}
				}
			}
		}
	}


	&__link {
		display: flex;
		align-items: center;
		&:hover{
			.language__text{
				animation: neon 2s alternate-reverse infinite;
			}
		}
	}

	&__text {
		margin-right: 10px;
		height: 100%;
		cursor: pointer;
		font-weight: 600;
		
	}

	&__icon {
		width: 35px;
		height: 25px;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		&.ua{
			background-image: url('/img/flags/ua/2.jpg');
		}
		&.en{
			background-image: url('/img/flags/en/1.jpg');
		}
		&.ru{
			position: relative;
			background-image: url('/img/flags/ru/russia.svg');
			background-size: cover;
			top: -5px;
			left: 3px;
		}
	}
}
@keyframes neon {
	from {
		 text-shadow:
			0 0 10px rgba(0, 123, 255, .7),
			0 0 40px rgba(0, 123, 255, .7),
			0 0 100px rgba(0, 123, 255, .7);
	  }
	  to {
		 text-shadow:
			0 0 5px rgba(0, 123, 255, .7),
			0 0 20px rgba(0, 123, 255, .7),
			0 0 60px rgba(0, 123, 255, .7);
	  }
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		left: -65px;
		cursor: pointer;
		z-index: 10;
		@media (max-width: em(374.98)) {
			left: -20px;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $mainColor;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

.burger {
	right: 0;
	top: 0;
	position: fixed;
	height: 100vh;
	background: linear-gradient(to top,#288FB1, 35%, #000);

	&__body {
		padding: 50px;
		@media (max-width: $mobileSmall) {
			padding: 50px 30px;
		}
	}

	&__menu {
		@include adaptiveValueREM('font-size', 30,25, 768,320, 1 );
		font-weight: 600;
		margin-bottom: 50px;
	}

	&__contacts {
	}
}
.menu-burger {

	&__list {
	}

	&__item {
	}

	&__item-link {
	}
}
.contacts-burger {

	&__tittle {
		font-size: rem(22);
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__contacts {
		p{
			&:last-child{
				font-weight: 600;
				margin-top: 4px;
			}
		}
	}

	&__address {
		margin: 0 0 10px 0;
		p{
			&:last-child{
				font-weight: 600;
				margin-top: 4px;
			}
		}
	}

	&__phone {
		margin: 0 0 10px 0;
		a{
			font-weight: 600;
			margin-top: 4px;
		}
	}

	&__email {
		margin: 0 0 10px 0;
		a{
				font-weight: 600;
				margin-top: 4px;
		}
	}

	&__social {
	}
}
.social-burger {

	&__meta {
	}
}

