.page{
  @include adaptiveValueREM('margin-top',175,100, 1200, 768, 1);
  @media (max-width: $mobile) {
   margin-top: 100px;
  }
}

.title {
   text-transform: uppercase;
   font-weight: 600;
   @include adaptiveValueREM('margin-bottom',45,25, 1200, 768, 1);
   @media (max-width: $mobile) {
      margin-top: 35px;
     }
   &__container {
   }

   &__text {
      text-align: center;
      @include adaptiveValueREM('font-size', 65,24);
      font-weight: 600;
      font-family: "Russo One";
      letter-spacing: 5px;
   }
}

.portfolio {
   @include adaptiveValueREM('margin-bottom',75,35, 1200, 768, 1);
   @media (max-width: $mobile) {
      margin-top: 35px;
     }

   &__container {
   }

   &__title {
      text-align: center;
      margin-bottom: 35px;
      @media (max-width: $mobile) {
         margin-bottom: 20px;
      }
   }

   &__title-text {
      @include adaptiveValueREM('font-size', 50,28);
      font-weight: 600;
      margin-bottom: 10px;
      font-family: "Muller";
   }

   &__title-sub-text{
      margin-bottom: 15px;
      @include adaptiveValueREM('font-size', 20,18 );
   }

   &__title-links{
      display: flex;
      justify-content: space-evenly;
      a{
         &:not(:last-child){
            margin-right: 15px;
         }
      }
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         align-items: center;
         a{
            margin-bottom: 15px;
         }
      }
   }

   &__title-link {
      @include adaptiveValueREM('font-size', 24,16);
      text-decoration: underline !important;
      transition: all 0.3s ease 0s;
      &:hover {
         color: #0B0080;
         font-style: italic;
         font-weight: 600;
      }
   }

   &__item{
      @include adaptiveValueREM('margin-bottom',80,40);
    /*  &:nth-child(even){
         padding: 50px 0;
         background:linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
      }*/
      position: relative;
      &:not(:first-child){
         @include adaptiveValueREM('padding-top',50,20);
         &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background: linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
         }
        /* &::after{
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
         }*/
      }
      &:nth-child(4){
         .feature-portfolio__container{
            .feature-portfolio__body:nth-child(3){
               .item-feature:nth-child(1){
                  .item-feature__img{
                    
                     video{
                       object-fit: cover;
                     }
                  }
               }
            }
         }
      }

   }
  /* &__body{
      position: relative;
      border-radius: 25px;
      border: 20px solid transparent;
	//   -moz-border-image: -moz-linear-gradient(to bottom right, #288FB1 0%, #000, #288FB1 100%);
  //    -webkit-border-image: -webkit-linear-gradient(to bottom right, #288FB1 0%, #000, #288FB1 100%);
  //    border-image: linear-gradient(to bottom right, #288FB1 0%, #000, #288FB1 100%);
  //    border-image-slice: 1;
   }*/
   &__image {
      $border-width: 6px;
      //height: 600px;
      position: relative;
      cursor: pointer;
      border-radius: $border-width;
      margin-bottom: 40px;
      @include adaptiveValueREM('height',600,200,1150,320,1);
      /*@media (max-width: em(1150)) {
      height: 450px;
      }
      @media (max-width: $mobile) {
         height: 200px;
         }*/
      &::after{
         content: '';
         position: absolute;
         top: calc(-1 * $border-width);
         left: calc(-1 * $border-width);
         z-index: 3;
         width: calc(100% + $border-width * 2);
         height: calc(100% + $border-width * 2);
       background: linear-gradient(90deg,transparent,14%,#288FB1,25%,transparent,15%,transparent);
       background-position: 40% 0%;
       background-size: 300% 300%;
      }
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         z-index: 3;
         width: 100%;
         height: 100%;
         background: linear-gradient(to left,transparent,14%,#288FB1,25%,transparent,15%,transparent);
         border-radius: calc(2 * $border-width);
        background-position:62% 0%;
        background-size: 300% 300%;
      }
      &.right{
         &::after{
            animation: moveRightGradient 1s linear;
         }
         picture:nth-child(2){
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
         }
      }
      &.left{
         &::before{
            animation: moveLeftGradient 1s linear;
         }
      }
      picture {
         position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
      
     // object-fit: cover;
      &:nth-child(2){
         transition: all 0.7s linear 0s;
       clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }
      @media (max-width: em(1150)) {
      object-fit: contain;
      }
      @media (max-width: $mobile) {
        object-fit: cover;
        object-position: left top;
      }
      @media (max-width: $mobileSmall) {
      object-fit: contain;
      object-position: unset;
      }
      }
      overflow: hidden;
      &:hover{
         .image-portfolio__skills, .image-portfolio__development{
            left: 0;
         }
      }
   }

   &__feature {
      margin-bottom: 40px;
   }

   &__description {
    //  margin-bottom: 30px;
   }

}

.image-portfolio {
   position: relative;
   

   &__body{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     // z-index: 3;
   }
   &__development{
      position: relative;
      top: 0px;
      left: -100%;
      padding: 20px;
      width: min-content;
      white-space: nowrap;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      @include adaptiveValueREM('font-size', 24, 16 );
      font-weight: 600;
     z-index: 10;
     transition: all 0.3s ease 0s;
      &:hover{
         .image-portfolio__bacground{
            opacity: 1;
         }
      }
      &:active {
         pointer-events: none;
      }
      @media (max-width: $mobile) {
      padding: 0;
      }
   }
   &__development--body{
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      @media (pointer: fine) {
      &:hover {
         text-shadow:
         0 0 10px rgba(0, 123, 255, .7),
         0 0 40px rgba(0, 123, 255, .7),
         0 0 100px rgba(0, 123, 255, .7);
         color: #fff;
         font-weight:500;
         svg{
            transform: scale(1.2);
         }
      }
      }
   }
   &__bacground{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background:linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
      opacity: 0.8;
      transition: all 0.3s ease 0s;
      z-index: -1;
      @media (max-width: $mobileSmall) {
      opacity: 1;
      }
   }

   &__skills {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      top: 100%;
      transform: translate(0, -200%);
      left: 100%;
      padding: 20px;
      @include adaptiveValueREM('font-size', 24, 16 );
      z-index: 10;
      transition: all 0.3s ease 0s;
      &:hover{
         .image-portfolio__bacground{
            opacity: 1;
         }
      }
      &:active {
         pointer-events: none;
      }
      @media (max-width: $mobile) {
      padding: 0;
      }
   }
   &__content{
      display: flex;
      align-items: center;
      &:hover{
         .image-portfolio__icon{
            transform: scale(1.2);
         }
      }
   }
   &__icon{
      margin-right: 5px;
      transition: all 0.3s ease 0s;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.3s ease 0s;
      &._laravel{
         background-image: url('/img/icons/laravel.svg');
      }
      &._html{
         background-image: url('/img/icons/html.svg');
      }
      &._scss{
         background-image: url('/img/icons/scss.svg');
      }
      &._css{
         background-image: url('/img/icons/css.svg');
      }
      &._js{
         background-image: url('/img/icons/js.svg');
      }
      &._php{
         background-image: url('/img/icons/php.svg');
      }
      &._gulp{
         background-image: url('/img/icons/gulp.svg');
      }
      @media (max-width: $mobile) {
         width: 15px;
         height: 15px;
         }
      svg{
         transition: all 0.3s ease 0s;
         width: 30px;
         height: 30px;
         @media (max-width: $mobile) {
         width: 15px;
         height: 15px;
         }
      }
      
   }

   &__skill {
      display: flex;
      align-items: center;
      &:not(:last-child){
      margin-right: 20px;
      }
      &:hover{
         text-shadow:
			0 0 10px rgba(0, 123, 255, .7),
			0 0 40px rgba(0, 123, 255, .7),
			0 0 100px rgba(0, 123, 255, .7);
         color: #fff;
         font-weight:500;
         svg{
            transform: scale(1.2);
         }
      }
      @media (max-width: $mobile) {
         &:not(:last-child){
            margin-right: 10px;
         }
         }
   }

   &__skill--text {
   }
}

@keyframes moveRightGradient{
   0%{
      background-position: 40% 0%;
   }
   100%{
      background-position: -50% 0%;
   }
}
@keyframes moveLeftGradient{
   0%{
      background-position: 62% 0%;
   }
   100%{
      background-position: 152% 0%;
   }
}


.feature-portfolio {

   &__container {
   }

   &__tittle{
      text-align: center;
      margin-bottom: 35px;
      @include adaptiveValueREM('font-size', 40,20 );
      font-weight: 600;
      font-family: 'Muller';
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child){
      margin-bottom: 45px;
      }
      @media (max-width: $mobile) {
      flex-direction: column;
      }
   }

   &__item {
      flex:  1 1 600px;
      overflow: hidden;
      height: calc(100% + 13px);
      position: relative;
      padding-top: 7px;
      @media (max-width: $mobile) {
      overflow: visible;
      }
      &:first-child{
         .item-feature__more-info{
            transform: translate(100%,0);
            &.active{
               transform: translate(0,0);
            }
         }
      }
      &:last-child{
         .item-feature__more-info{
            transform: translate(-100%,0);
            &.active{
               transform: translate(0,0);
            }
         }
      }
      @media (max-width: $tablet) {
      flex: 1 1 auto;
      }
      @media (max-width: $mobile) {
         width: 100%;
         &:not(:last-child){
            margin-bottom: 45px;
         }
      }
   }
}
.item-feature {

   &__body {
      position: relative;
   }

   &__row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: center;
      flex:  0 0 auto;
      @media (max-width: $tablet) {
      flex-direction: column;
      flex: 1 1 auto;
      }
   }

   &__img {
      margin-right: 20px;
      position: relative;
      border-radius: 50%;
      width: 228px;
      height: 228px;
      &::after{
         content:'';
         position: absolute;
         z-index: -1;
         top: -.25rem ;
         left: -.25rem;
         width: calc(100% + .5rem);
         height: calc(100% + .5rem);
         border-radius: .25em;
        // background-image: linear-gradient(45deg, #000, $mainColor, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        background-image: linear-gradient(45deg, #104d61, $mainColor, $mainColor, #5073b8, #1098ad, #07b39b, #6fba82);
         background-size: 200%;
        // animation: animateborder 2s ease infinite paused;
         border-radius: 50%;
      }
      img, video {
         position: relative;
         top: 0px;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: fill;
         border-radius: 50%;
      }
      &:hover, &.active {
         &::after{
           // animation-play-state: running;
            animation: animateborder 2s ease infinite;
            box-shadow: 0px 1px 5px 2px $mainColor;
         }
      }
   }

   &__text {
      font-weight: 600;
      text-transform: uppercase;
      font-size: rem(20);
      flex:  0 0 192px;
      cursor: default;
      @media (max-width: $tablet) {
      flex: 1 1 60px;
      max-width: 200px;
      text-align: center;
      align-items: center;
      display: flex;
      margin-top: 20px;
      }
   }

   &__btn {
   width: fit-content;
   margin: 0 auto;
   min-width: unset !important;
   color: aliceblue;
   font-size: rem(30);
   letter-spacing: 3px;
   line-height: 1.8;
   font-weight: 600;
   background-image: radial-gradient(100% 100% at 100% 50%, #288FB1 0, #000 0%);
   border-radius: 6px;
   box-shadow: #288fb1 0 0 0 1.5px inset, rgb(40 143 177 / 40%) 0 2px 4px, rgb(40 143 177 / 30%) 0 7px 13px -3px, #288fb1 0 -3px 0 inset;
   transition: box-shadow 0.15s, transform 0.15s;
   white-space: nowrap;
   -webkit-user-select: none;
   touch-action: manipulation;
   cursor: pointer;
   margin-top: 50px;
   padding-left: 16px;
   padding-right: 16px;
   &:hover{
      text-shadow:
      0 0 10px rgba(0, 123, 255, .7),
      0 0 40px rgba(0, 123, 255, .7),
      0 0 100px rgba(0, 123, 255, .7);
   }
   @media (max-width: $tablet) {
   margin-top: 0;
   }
}
   .item-feature__btn:active{
      box-shadow: #288FB1 0 3px 7px inset;
      transform: translateY(2px);
}

   &__more-info {
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: calc(100% + 4px);
      background: linear-gradient(125deg, rgb(40, 143, 177), 15%, rgb(0, 0, 0), 85%, rgb(40, 143, 177), rgb(0, 0, 0));
      display: flex;
      align-items: center;
      line-height: 1.8;
      font-size: rem(20);
      text-align: justify;
      padding: 0 20px;
     // opacity: 0;
     // visibility: hidden;
      pointer-events: none;
      transition: all 1s ease 0s;
     // transform: scale(0);
      overflow: hidden;
      //   opacity: 1;
     //    visibility: visible;
      @media (max-width: $mobile) {
         width: 100vw;
         left: -30px;
       /*  transform: translate(100%,0) !important;
         opacity: 1;
         visibility: visible;*/
      }
      @media (max-width: em(370)) {
      line-height: 1.2;
      }
      &.active{
      //   opacity: 1;
      //   visibility: visible;
         pointer-events: auto;
        // transform: scale(1);
        // @media (max-width: $mobile) {
       //  transform: translate(0,0);
        // }
      }
   }
}

.close{
         position: absolute;
         top: 3.5px;
         right: 15px;
         width: 25px;
         height: 25px;
         background: transparent;
         cursor: pointer;
         z-index: 5;
   &:after{
      content: '';
      position: absolute;
      top: 11px;
      right: 0px;
      width: 25px;
      height: 2px;
      transform: rotate(45deg);
      background: $mainColor;
   }
   &::before{
      content: '';
      position: absolute;
      top: 11px;
      right: 0px;
      width: 25px;
      height: 2px;
      transform: rotate(-45deg);
      background: $mainColor;
   }
}

@keyframes animateborder {
   0% {
       background-position: 100%;
   }
 /*  50% {
       background-position: 200%;
       
   }*/
   100% {
      // background-position: 100%;
      background-position: 200%;
   }
}

.description-portfolio {

   &__container {
   }

   &__title {
      margin-bottom: 50px;
      @include adaptiveValueREM('font-size', 30, 16 );
      font-weight: 600;
      text-align: center;

     /* text-align: center;
      margin-bottom: 50px;
      @include adaptiveValueREM('font-size', 40,20 );
      font-weight: 600;
      font-family: 'Muller';*/
   }

   &__body {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
      grid-gap: 20px;
      @media (max-width: em(1250)) {
      grid-template-columns: minmax(270px,400px) minmax(270px,400px);
      grid-template-rows:repeat(5,auto);
      justify-content: center;
      }
      @media (max-width: $mobile) {
         grid-template-columns: 270px;
         grid-template-rows:repeat(9,auto);
      }
   }

  /* &__row{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 40px;
      &:last-child{
         margin-bottom: 0;
      }
      @media (max-width: $tablet) {
      flex-wrap: wrap;
      }
      &:first-child{
         .description-portfolio__item:first-child{
            span{
               &.ua{
                  &::before{
                     content: "Забезпечує оптимальне відображення та взаємодію сайту з користувачем незалежно від роздільної здатності та формату пристрою, з якого здійснюється перегляд сторінки. Максимально збурігає структуру блоків при зміні контенту.";
                  }
               }
               &.ru{
                  &::before{
                     content: "Обеспечивает оптимальное отображение и взаимодействие сайта с пользователем независимо от разрешения и формата устройства, с которого производится просмотр страницы. Максимально сохраняет структуру блоков при изменении контента.";
                  }
               }
               &.en{
                  &::before{
                     content: "It is an approach to web design that aims to make web pages render well on a variety of devices and window or screen sizes from minimum to maximum display size to ensure usability and satisfaction.";
                  }
               }
            }
         }
         .description-portfolio__item:nth-child(2){
            span{
               &.ua{
                  &::before{
                     content: "Розміри компонентів веб-сторінок сайту пропорційно «розтягуються» і «стискаються», підлаштовуючись під розширення та розмір монітора користувача.";
                  }
               }
               &.ru{
                  &::before{
                     content: "Размеры компонентов веб-страниц сайта пропорционально растягиваются и сжимаются, подстраиваясь под расширение и размер монитора пользователя.";
                  }
               }
               &.en{
                  &::before{
                     content: "The dimensions of the components of the web pages of the site are proportionally stretched and compressed, adjusting to the extension and size of the user's monitor.";
                  }
               }
            }
         }
         .description-portfolio__item:last-child{
            span{
               &.ua{
                  &::before{
                     content: "Окремий набір правил відображення сайту на мобільних пристроях та планшетах. Зміна контенту, структури, та способів взаємодії зі сторінками для зручності користування.";
                  }
               }
               &.ru{
                  &::before{
                     content: "Отдельный набор правил для отображения сайта на мобильных устройствах и планшетах. Изменение контента, структуры и способов взаимодействия со страницами для удобства пользования.";
                  }
               }
               &.en{
                  &::before{
                     content: "A separate set of rules for displaying the site on mobile devices and tablets. Changing the content, structure and ways of interacting with pages for ease of use.";
                  }
               }
            }
         }
      }
      &:nth-child(2){
         .description-portfolio__item:first-child{
            span{
               &.ua{
                  &::before{
                     content: "Кожний проект використовує систему контролю версії \"git\". Це дозволяє зберігати всі зміни сайту в якості версій та повернутись то будь якої версії в разі необхідності. Копія сайту та всіх його змін зберігається на сервісі \"github\"";
                  }
               }
               &.ru{
                  &::before{
                     content: "Каждый проект использует систему контроля версии \"git\". Это позволяет сохранять все изменения сайта в качестве версий и вернуться к любой версии в случае необходимости. Копия сайта и всех его изменений сохраняется на сервисе \"github\".";
                  }
               }
               &.en{
                  &::before{
                     content: "Every project uses the \"git\" version control system. This allows you to save all site changes as versions and revert to any version if needed. A copy of the site and all it's changes is stored on the \"github\" service.";
                  }
               }
            }
         }
         .description-portfolio__item:nth-child(2){
            span{
               &.ua{
                  &::before{
                     content: "Заголовок та опис сторінки необхідні для просування вашого сайту в пошуковій системі Google. Це опис повинен буди на кожній сторонці сайту та містити ключові слова.";
                  }
               }
               &.ru{
                  &::before{
                     content: "Заголовок и описание страницы необходимы для продвижения вашего сайта в поисковой системе Google. Это описание должно быть на каждой странице сайта и содержать ключевые слова.";
                  }
               }
               &.en{
                  &::before{
                     content: "The title and description of the page are necessary to promote your site in the Google search engine. This description should be on every page of the site and contain keywords.";
                  }
               }
            }
         }
         .description-portfolio__item:last-child{
            span{
               &.ua{
                  &::before{
                     content: "Налаштування картинки (відео), заголовку та додаткового опису сторінки які будуть відображатися при пересилці посилання сайту через месенджери (viber, telegram, whatsapp, facebook, instagram, skype, та інші).";
                  }
               }
               &.ru{
                  &::before{
                     content: "Настройка картинки (видео), заголовка и дополнительного описания страницы, которые будут отображаться при пересылке ссылки сайта через мессенджеры (viber, telegram, whatsapp, facebook, instagram, skype, и другие).";
                  }
               }
               &.en{
                  &::before{
                     content: "Setting up a picture (video), title and additional description of the page that will be displayed when sending a site link through instant messengers (viber, telegram, whatsapp, facebook, instagram, skype, and others).";
                  }
               }
            }
         }
      }
      &:last-child{
         .description-portfolio__item:first-child{
            span{
               &.ua{
                  &::before{
                     content: "Розокремлення і налаштування ефектів які можуть відбуватися на пристроях які мають мишу, стилус, не мають миші та стилуса. Сайт починає взаємодіяти з користувачем в залежності від елементів керування які використовує пристрій.";
                  }
               }
               &.ru{
                  &::before{
                     content: "Разделение и настройка эффектов, которые могут происходить на устройствах, имеющие мышь, стилус, не имеющие мыши и стилуса. Сайт начинает взаимодействовать с пользователем в зависимости от используемых елементов управления.";
                  }
               }
               &.en{
                  &::before{
                     content: "Separation and customization of effects that can occur on devices that have a mouse, stylus, and those that do not have a mouse and stylus. The site begins to interact with the user depending on the controls used.";
                  }
               }
            }
         }
         .description-portfolio__item:nth-child(2){
            span{
               &.ua{
                  &::before{
                     content: "Сайт однаково відображається та функціонує відповідно до поставленого завдання в усіх браузерах (chrome, opera, safari, тощо)";
                  }
               }
               &.ru{
                  &::before{
                     content: "Сайт одинаково отображается и функционирует в соответствии с поставленной задачей во всех браузерах (chrome, opera, safari и т.д.)";
                  }
               }
               &.en{
                  &::before{
                     content: "The site is equally displayed and functions in accordance with the task in all browsers (chrome, opera, safari, etc.)";
                  }
               }
            }
         }
         .description-portfolio__item:last-child{
            span{
               &.ua{
                  &::before{
                     content: "Стиснення картинок і відео без втрати якості, а також їх переформатування в сучасні розширення файлів. Стиснення всіх скриптів та стилів (production версія).";
                  }
               }
               &.ru{
                  &::before{
                     content: "Сжатие картинок и видео без потери качетва, а также их переформатирование в современные расширений файлов. Сжатие всех скриптов и стилей (production версия).";
                  }
               }
               &.en{
                  &::before{
                     content: "Compressing pictures and videos without losing quality, as well as reformatting them into modern file extensions. Compression of all scripts and styles (production version).";
                  }
               }
            }
         }
      }
   }*/

   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      //align-items:center;
      //flex: 1 1 380px;
      //flex-basis: 380px;
    // width: min-content;
    // left: 3%;
   //  @include adaptiveValueREM('left',34,20,1920,1200,1);
     left: 50px;
     @include adaptiveValueREM('flex-basis',380,40,1200,768,1);
     @media (max-width: $mobileSmall) {
      left: 12px;
      }

     &:first-child{
      span{
         &.ua{
            &::before{
               content: "Забезпечує оптимальне відображення та взаємодію сайту з користувачем незалежно від роздільної здатності та формату пристрою, з якого здійснюється перегляд сторінки. Максимально збурігає структуру блоків при зміні контенту.";
            }
         }
         &.ru{
            &::before{
               content: "Обеспечивает оптимальное отображение и взаимодействие сайта с пользователем независимо от разрешения и формата устройства, с которого производится просмотр страницы. Максимально сохраняет структуру блоков при изменении контента.";
            }
         }
         &.en{
            &::before{
               content: "It is an approach to web design that aims to make web pages render well on a variety of devices and window or screen sizes from minimum to maximum display size to ensure usability and satisfaction.";
            }
         }
         &.active{
            @media (max-width: $mobile) {
               margin-bottom: 270px;
            }
            @media (max-width: $mobileSmall) {
               margin-bottom: 300px;
            }
         } 
      }
      }
      &:nth-child(2){
         span{
            &.ua{
               &::before{
                  content: "Розміри компонентів веб-сторінок сайту пропорційно «розтягуються» і «стискаються», підлаштовуючись під розширення та розмір монітора користувача.";
               }
            }
            &.ru{
               &::before{
                  content: "Размеры компонентов веб-страниц сайта пропорционально растягиваются и сжимаются, подстраиваясь под расширение и размер монитора пользователя.";
               }
            }
            &.en{
               &::before{
                  content: "The dimensions of the components of the web pages of the site are proportionally stretched and compressed, adjusting to the extension and size of the user's monitor.";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 215px;
               }
               @media (max-width: $mobileSmall) {
                  margin-bottom: 240px;
               }
            }
         }
      }
      &:nth-child(3){
         span{
            &.ua{
               &::before{
                  content: "Окремий набір правил відображення сайту на мобільних пристроях та планшетах. Зміна контенту, структури, та способів взаємодії зі сторінками для зручності користування.";
               }
            }
            &.ru{
               &::before{
                  content: "Отдельный набор правил для отображения сайта на мобильных устройствах и планшетах. Изменение контента, структуры и способов взаимодействия со страницами для удобства пользования.";
               }
            }
            &.en{
               &::before{
                  content: "A separate set of rules for displaying the site on mobile devices and tablets. Changing the content, structure and ways of interacting with pages for ease of use.";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 240px;
               }
               @media (max-width: $mobileSmall) {
                  margin-bottom: 245px;
               }
            } 
         }
      }
      &:nth-child(4){
         span{
            &.ua{
               &::before{
                  content: "Кожний проект використовує систему контролю версії \"git\". Це дозволяє зберігати всі зміни сайту в якості версій та повернутись то будь якої версії в разі необхідності. Копія сайту та всіх його змін зберігається на сервісі \"github\"";
               }
            }
            &.ru{
               &::before{
                  content: "Каждый проект использует систему контроля версии \"git\". Это позволяет сохранять все изменения сайта в качестве версий и вернуться к любой версии в случае необходимости. Копия сайта и всех его изменений сохраняется на сервисе \"github\".";
               }
            }
            &.en{
               &::before{
                  content: "Every project uses the \"git\" version control system. This allows you to save all site changes as versions and revert to any version if needed. A copy of the site and all it's changes is stored on the \"github\" service.";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 260px;
               }
               @media (max-width: $mobileSmall) {
                  margin-bottom: 295px;
               }
            } 
         }
      }
      &:nth-child(5){
         span{
            &.ua{
               &::before{
                  content: "Всі тегі використовуються відповідно до їх тлумачення. Також заповнюються всі технічні тегі заголовок та опис сторінки, опис картинок тощо. Це дозволяє організувати структуру яку добре розуміють пошукові системи і підвищити позиції сайту в пошуковій видачі Google.";
               }
            }
            &.ru{
               &::before{
                  content: "Все теги используются в соответствии с их толкованием. Заполняются все технические тэги - заголовок и описание страницы, описание картинок и т.д. Это позволяет организовать структуру, которую хорошо понимают поисковые системы и повысить позиции сайта в поисковой выдаче Google.";
               }
            }
            &.en{
               &::before{
                  content: "All tags are used according to their interpretation. The title and description tags, description tags of pictures are filled in. This allows you to organize a structure that is well understood by search engines and increase the position of the site in Google search results.";
               }
            }
         }
      }
      &:nth-child(6){
         span{
            &.ua{
               &::before{
                  content: "Налаштування картинки (відео), заголовку та додаткового опису сторінки які будуть відображатися при пересилці посилання сайту через месенджери (viber, telegram, whatsapp, facebook, instagram, skype, та інші).";
               }
            }
            &.ru{
               &::before{
                  content: "Настройка картинки (видео), заголовка и дополнительного описания страницы, которые будут отображаться при пересылке ссылки сайта через мессенджеры (viber, telegram, whatsapp, facebook, instagram, skype, и другие).";
               }
            }
            &.en{
               &::before{
                  content: "Setting up a picture (video), title and additional description of the page that will be displayed when sending a site link through instant messengers (viber, telegram, whatsapp, facebook, instagram, skype, and others).";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 260px;
               }
               @media (max-width: $mobileSmall) {
                  margin-bottom: 275px;
               }
            } 
         }
      }
      &:nth-child(7){
         span{
            &.ua{
               &::before{
                  content: "Розокремлення і налаштування ефектів які можуть відбуватися на пристроях які мають мишу, стилус, не мають миші та стилуса. Сайт починає взаємодіяти з користувачем в залежності від елементів керування які використовує пристрій.";
               }
            }
            &.ru{
               &::before{
                  content: "Разделение и настройка эффектов, которые могут происходить на устройствах, имеющие мышь, стилус, не имеющие мыши и стилуса. Сайт начинает взаимодействовать с пользователем в зависимости от используемых елементов управления.";
               }
            }
            &.en{
               &::before{
                  content: "Separation and customization of effects that can occur on devices that have a mouse, stylus, and those that do not have a mouse and stylus. The site begins to interact with the user depending on the controls used.";
               }
            }
            &.active{
               @media (max-width: $mobileSmall) {
                  margin-bottom: 295px;
               }
            }
         }
      }
      &:nth-child(8){
         span{
            &.ua{
               &::before{
                  content: "Сайт однаково відображається та функціонує відповідно до поставленого завдання в усіх браузерах (chrome, opera, safari, тощо)";
               }
            }
            &.ru{
               &::before{
                  content: "Сайт одинаково отображается и функционирует в соответствии с поставленной задачей во всех браузерах (chrome, opera, safari и т.д.)";
               }
            }
            &.en{
               &::before{
                  content: "The site is equally displayed and functions in accordance with the task in all browsers (chrome, opera, safari, etc.)";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 200px;
               }
               @media (max-width: $mobileSmall) {
                  margin-bottom: 220px;
               }
            }
         }
      }
      &:nth-child(9){
         span{
            &.ua{
               &::before{
                  content: "Стиснення картинок і відео без втрати якості, а також їх переформатування в сучасні розширення файлів. Стиснення всіх скриптів та стилів (production версія).";
               }
            }
            &.ru{
               &::before{
                  content: "Сжатие картинок и видео без потери качетва, а также их переформатирование в современные расширений файлов. Сжатие всех скриптов и стилей (production версия).";
               }
            }
            &.en{
               &::before{
                  content: "Compressing pictures and videos without losing quality, as well as reformatting them into modern file extensions. Compression of all scripts and styles (production version).";
               }
            }
            &.active{
               @media (max-width: $mobile) {
                  margin-bottom: 200px;
               }
            }
         }
      }
   }

   &__text {
     position: relative;
 font-weight: 600;
     span{
        display: inline-block;
        white-space: nowrap;
      cursor: pointer;
      transition: all 0.8s ease 0.3s;
      &::before{
         content: "";
         position: absolute;
         top: -15px;
         left: -40px;
         clip-path: circle(15px at 20px 20px);
       //  background:linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
         background:linear-gradient(90deg, #288FB1, 5%, #000);
         transition: all 0.8s ease 0s;
         color: #fff;
         padding: 42px 32px;
         line-height: 1.2;
         white-space: normal;
      }
     
      &::after{
         content: '';
         position: absolute;
         top: -1px;
         left: -22px;
         z-index: 2;
         color: #fff;
         transition: all 0.8s ease 0s;
         font-weight: 600;
      }
      &.active{
         margin-bottom: 230px;
         @media (max-width: $mobile) {
            margin-bottom: 270px;
        }
         @media (max-width: $mobileSmall) {
            margin-bottom: 325px;
        }
         transition: all 0.3s ease 0s;
         &::before{
       clip-path: circle(75%);
       top: 25px;
       left: -80px;
       @media (max-width: $mobileSmall) {
          left: -40px;
      }
         }
         &::after{
            transition: all 0.8s ease 0.3s;
            background-color: $mainColor;
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            width: 20px;
            height: 20px;
            left: -30px;
            color: transparent;
         }
         i{
            display: none;
         }
    }
     }
    i{
       position: absolute;
       top: -3px;
       left: -22.5px;
       color: #fff;
       z-index: 5;
       pointer-events: none;
    }
   }

/*   &__info-card {
      align-self: flex-start;
      position: relative;
      padding: 0;
      height: 30px;
      clip-path: circle(15% at 17px 45%);
      transition: all 0.8s ease 0s;
      color: #fff;
      background:linear-gradient(90deg, #288FB1, 15%, #000, 85%, #288FB1,);
      width: 27%;
      &:hover{
         clip-path: circle(75%);
         top: 5px;
         padding: 42px 32px;
         height: 180px;
         width: 100%;
         .card-info__description{
            height: 180px;
            opacity: 1;
         }
         &:before{
            top: -50px;
            left: -20px;
         }
      }
      top: -22px;
      left: -35px;
      &:before{
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: -10px;
         left: -10px;
         z-index: -1;
      }
   }*/
}
.card-info {

   &__icon {
      position: absolute;
      top: 6px;
      left: 14px;
      cursor: default;
   }

   &__description {
    /*  line-height: 1.8;
      height: 450px;*/
      transition: all 0.3s ease 0s;
      height: 30px;
      opacity: 0;
      cursor: default;
   }
}
